.container
	%h1.title-general{ style: "margin-bottom:0px; color: #ed6d58"} NOSOTROS
	%hr.title-hr.pull-left{ style: "border-color: #ed6d58;" }
	.row
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			.announce
				Somos fanáticos del
				%span Branding
				y queremos convertir tu marca en tu principal estrategia de negocios.
			%center
				= link_to about_path, class: "btn btn-default btn-muffin" do
					VER MÁS
					%i.fa.fa-chevron-right
	