- par, impar = [0,2,4], [1,3,5]
%h3.title
	ARTÍCULOS RECIENTES
.container
	#carousel-blog.carousel.slide{ "data-ride" => "carousel", "data-interval" => "false" }
		.carousel-inner{:role => "listbox"}
			- if !@posts.empty? and @posts.count == 6
				- 3.times do |index|
					.item{ class: "#{'active' if index == 0 }"}
						.col-lg-6.col-md-6.col-sm-12.col-xs-12#posts
							.post
								= link_to "blog/posts/"+@posts[par[index]].permalink do
									= image_tag @posts[par[index]].image_url
								.caption
									= link_to "blog/posts/"+@posts[par[index]].permalink, class: "title-post" do
										= @posts[par[index]].title
									.content
										Publicado:
										= @posts[par[index]].created_at.strftime("%d %b. %Y")
						.col-lg-6.col-md-6.col-sm-6.col-xs-12.hidden-xs.hidden-sm
							.post
								= link_to "blog/posts/"+@posts[impar[index]].permalink do
									= image_tag @posts[impar[index]].image_url
								.caption
									= link_to "blog/posts/"+@posts[impar[index]].permalink, class: "title-post" do
										= @posts[impar[index]].title
									.content
										Publicado:
										= @posts[impar[index]].created_at.strftime("%d %b. %Y")

	.group-control
		%a.btn-control{"data-slide" => "prev", :href => "#carousel-blog", :role => "button"}
			%span.fa.fa-chevron-left{"aria-hidden" => "true"}
		%a.btn-control{"data-slide" => "next", :href => "#carousel-blog", :role => "button"}
			%span.fa.fa-chevron-right{"aria-hidden" => "true"}

	%center
		= link_to "blog/posts", class: "btn btn-default btn-muffin" do
			VER MÁS
			%i.fa.fa-chevron-right