#clients
	%h1.title-general CLIENTES & ALIADOS
	%hr.title-hr

	#carousel-example-generic.carousel.slide.hidden-xs.hidden-sm{"data-ride" => "carousel"}
		.carousel-inner
			- @items.attachments.where(public: true).in_groups_of(4, false).each_with_index do |item, index|
				.item{ class: "#{'active' if index.zero? }"}
					.row
						- item.each do |client|
							.col-lg-3.col-md-3.client-item
								= image_tag client.image


		%a.control-carousel-client-left.controls-clients{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
			%span.fa.fa-chevron-left{"aria-hidden" => "true"}
		%a.control-carousel-client-right.controls-clients{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
			%span.fa.fa-chevron-right{"aria-hidden" => "true"}


	#carousel-mobile-generic.carousel.slide.visible-xs.visible-sm{"data-ride" => "carousel"}
		.carousel-inner.visible-xs.visible-sm
			- @items.attachments.where(public: true).each_with_index do |item, index|
				.item{ class: "#{'active' if index.zero? }"}
					.row
						.col-lg-12.client-item
							= image_tag item.image


		%a.control-carousel-client-left.controls-clients{"data-slide" => "prev", :href => "#carousel-mobile-generic", :role => "button"}
			%span.fa.fa-chevron-left{"aria-hidden" => "true"}
		%a.control-carousel-client-right.controls-clients{"data-slide" => "next", :href => "#carousel-mobile-generic", :role => "button"}
			%span.fa.fa-chevron-right{"aria-hidden" => "true"}