.row.contact-row
	.col-lg-8.col-md-8.col-sm-6.col-xs-12{ style: "background:#f3f3f3;" }
		= form_tag('/contact_us/send_contact_message', method: "post", id: "form-contact_us") do
			= text_field_tag :name, "", :class=>'form-control', :type => "text", :placeholder=>'Nombre'
			= text_field_tag :email, "", :class=>'form-control', :type => "text", :placeholder=>'Email'
			= text_field_tag :subject, "", :class=>'form-control', :type => "text", :placeholder=>'Asunto'
			= text_area_tag :content, "", :class=>'form-control' , :placeholder=>'Mensaje'
			
			.row{ style: "border-top: 2px solid #d7d7d7; margin-left: 0px; margin-right: 0px;" }
				.col-lg-6.col-md-6.col-sm-12.col-xs-12
					#recaptcha_widget{:style => "display:block"}
						#recaptcha_image
				.col-lg-6.col-md-6.col-sm-12.col-xs-12
					.input-group
						= text_field_tag :recaptcha_response_field, "",type: "text", id: "recaptcha_response_field", class: "form-control", placeholder: "Captcha", style: "border:none;"
						%span.input-group-btn
							= button_tag "<i class='fa fa-refresh'></i>".html_safe, :type => "button", class: "form-control", :onclick => "javascript:Recaptcha.reload(); return false;"
			= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true
			= button_tag(type: 'submit', class: "btn btn-muffin") do
				ENVIAR
				%i.fa.fa-chevron-right
	.col-lg-4.col-md-4.col-sm-6.col-xs-12{ style: "background:#333333;"}
		.contact-info
			%h1{ style: "margin-bottom:0px; color: #ed6d58; font-size:1.6em;"} CONTACTO
			%hr.title-hr.pull-left{ style: "border-color: #ed6d58;" }
			%br
			%br
			%br
			%br/	
			%p PUNTO FIJO - EDO FALCÓN
			%p VENEZUELA   
			%br/
			%p hola@studiomuffin.com
			%br/
			%p +58 424 606 7013
			%p +58 414 696 9287