.container#container-downloads
	%h1.title-general DESCARGAS
	%hr.title-hr
	.title-download
		Lleva a 
		%span
			studio muffin
		contigo
	.section-download
		= image_tag "frontend/portafolio/section-portfolio.png"
.row.all-download
	.col-lg-6.item-download
		= link_to "downloads/imprimibles" do 
			.item
				.image#imprimibles
				.mask-download
					.title-item
						%hr
						%p Imprimibles
	.col-lg-6.item-download
		= link_to "downloads/wallpapers" do 
			.item
				.image#wallpapers
				.mask-download
					.title-item
						%hr
						%p Wallpapers