.container
	.col-lg-6.col-md-6.col-sm-12.col-xs-12
		%h2.hidden-xs.hidden-sm{ style: "color: #ed6d58;"} STUDIO MUFFIN
		%h2.hidden-xs.hidden-sm{ style: "font-family: 'PT Serif', serif; font-weight:700; margin-bottom: 0px; color: #777777;"} ESTUDIO CREATIVO
		%h2.hidden-xs.hidden-sm{ style: "font-family: 'PT Serif', serif; font-weight:700; margin-top: 5px; color: #777777;"} DISEÑO & BRANDING
		= image_tag "frontend/footer/studio-muffin.png", class: "muffin"
		
	.col-lg-6.col-md-6.col-sm-12.col-xs-12
		.content.pull-right.hidden-xs.hidden-sm
			%h1{ style: "color: #777777;"} ¿Te gustó lo que viste?
			%h1
				= link_to 'Escríbenos', main_app.root_path(anchor: "contact_us"), style: "color: #ed6d58; text-decoration: none"
		%center
			%h3.copyright{ style: "color: #777777; margin-top: 70px; font-size: 18px;"} 
				Copyright  
				%span
					%i.fa.fa-copyright
				2015 Studio Muffin
	
	.col-lg-12.col-md-12.col-sm-12.col-xs-12
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				%h3.slice{ style: "color: #777777; font-size: 22px;"} Desarrollado por
				=link_to "http://slicegroup.xyz/", target: "_blank" do
					= image_tag "frontend/footer/slicegroup.png", style: "width:60px; display: inline; margin-top:25px; margin-left: 5px;"
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				.pull-right
					%h3.slice{ style: "color: #777777; font-size: 22px;"} Diseñado por
					=link_to "http://studiomuffin.com/", target: "_blank" do
						= image_tag "frontend/footer/studio-muffin.png", style: "width:90px; display: inline; margin-top:25px; margin-left: 5px;"

