#div-1.active.hidden-xs
#div-2.hidden-xs
#div-3.hidden-xs
.responsive-container.hidden-xs
	.centered
	.titles.hidden-xs
		%ul.scrollable
			%li#text-1
				HORNEAMOS TUS IDEAS	
			%li#text-2
				ESTUDIO CREATIVO
			%li#text-3
				DISEÑO & BRANDING
	.img-container
		= image_tag "frontend/home/logo-principal.png", class: "logo-principal"
	.scroll-down
		= link_to "#services" do
			= image_tag "frontend/home/down.png", class: "scroll-down"

#div-xs.active.visible-xs
	.img-container
		= image_tag "frontend/home/logo-principal.png", class: "logo-principal"
	.scroll-down
		= link_to "#services" do
			= image_tag "frontend/home/down.png", class: "scroll-down"
