.container#container-portfolio
	%h1.title-general PORTAFOLIO
	%hr.title-hr
	.title-portfolio
		Amamos lo que hacemos
	.section-portfolio
		= image_tag "frontend/portafolio/section-portfolio.png"
	.text-portfolio
		Esta es una muestra de trabajos realizados para nuestros exclusivos clientes en las diferentes gamas de servicios de 
		%span
			Studio Muffin

.row.all-portfolio
	.col-lg-6.item-portfolio
		= link_to "portfolio/branding" do 
			.item
				.image#branding
				.mask-portfolio
					.title-item
						%hr
						%p Branding
	.col-lg-6.item-portfolio
		= link_to "portfolio/diseños-digitales" do 
			.item
				.image#digitales
				.mask-portfolio
					.title-item
						%hr
						%p Diseños Digitales
	.col-lg-6.item-portfolio
		= link_to "portfolio/diseños-web" do 
			.item
				.image#web
				.mask-portfolio
					.title-item
						%hr
						%p Diseños Web
	.col-lg-6.item-portfolio
		= link_to "portfolio/diseños-impresos" do 
			.item
				.image#imprimibles
				.mask-portfolio
					.title-item
						%hr
						%p Diseños Impresos

.foo