.container
	%h1.title-general{ style:"color:white; text-align:center;"} SERVICIOS
	%hr.title-hr
	.row.content-services
		.col-sm-6
			.efftec-services#service-1
				%h5 
					%span 01. 
					BRANDING
				.description-services
					Diseñamos y asesoramos tu identidad corporativa de manera efectiva, funcional y estética.
		.col-sm-6
			.efftec-services#service-3
				%h5 
					%span 02. 
					DISEÑOS WEB
				.description-services
					Creamos tu sitio web adaptado a tu imagen e identidad con tecnología responsive.
	.row.content-services#content-2
		.col-sm-6
			.efftec-services#service-2
				%h5
					%span 03.
					DISEÑOS IMPRESOS
				.description-services
					Diseñamos piezas publicitarias reproducibles como extensiones de tu empresa o producto.
		.col-sm-6
			.efftec-services#service-4
				%h5 
					%span 04. 
					DISEÑOS DIGITALES
				.description-services
					Elaboramos diseños funcionales que te permitan acercarte a tus seguidores online.