#portfolio{ style: "opacity: 1; padding-top:70px;"}
	#about-details
		.banner 
			= image_tag "frontend/about/banner.jpg", class: "hidden-xs"
			= image_tag "frontend/about/banner-responsive.jpg", class: "visible-xs"
		.container
			.title-portfolio
				Cada detalle es importante
			.section-portfolio
				= image_tag "frontend/portafolio/section-portfolio.png"
			.text-portfolio
				Trabajamos en equipo para crear
				%span diseños innovadores y elegantes
				enfocándonos en conseguir la mejor experiencia para nuestros clientes, todos los aspectos de cada proyecto deben ser impecables.
		.row.content-team
			.col-lg-6.col-md-6.col-sm-12.col-xs-12.cols
				%center
					.person#cristi
						.mask
							.mask-socials
								.descriptions
									.name
										Cristina 
										%br/
										Reyes
									%hr
									.profesion
										DISEÑADORA GRÁFICA
									.icons-socials
										= link_to "https://www.twitter.com/cricrir", target: "_blank", class: "icons" do
											%i.fa.fa-twitter-square
										= link_to "https://www.facebook.com/cristina86reyes", target: "_blank", class: "icons" do
											%i.fa.fa-facebook-square
										= link_to "https://www.instagram.com/cricrir_", target: "_blank", class: "icons" do
											%i.fa.fa-instagram
										= link_to "https://www.linkedin.com/in/cricrir", target: "_blank", class: "icons" do
											%i.fa.fa-linkedin-square
										
			.col-lg-6.col-md-6.col-sm-12.col-xs-12.cols
				%center
					.person#maty
						.mask
							.mask-socials
								.descriptions
									.name
										Mariesty 
										%br/
										Medina
									%hr
									.profesion
										DISEÑADORA GRÁFICA
									.icons-socials
										= link_to "https://www.twitter.com/Maty_Jin", target: "_blank", class: "icons" do
											%i.fa.fa-twitter-square
										= link_to "https://www.facebook.com/maty.medina.336", target: "_blank", class: "icons" do
											%i.fa.fa-facebook-square
										= link_to "https://www.instagram.com/matymedinac", target: "_blank", class: "icons" do
											%i.fa.fa-instagram
										= link_to " https://www.linkedin.com/hp/?dnr=jV3vU4uyzMuqo98XjAeJVRGma0Pq7q6k-5WM", target: "_blank", class: "icons" do
											%i.fa.fa-linkedin-square
										

#footer
	= render "footer"