#home
	= render "home"
#services
	= render "services"
#about
	= render "about"
#portfolio
	= render "portfolio"
#blog
	= render "blog"
#downloads
	= render "downloads"
- if @items
	#clients
		= render "clients"
#contact_us
	= render "contact_us"
#footer
	= render 'footer'