#show-attachment
	.row.all-show-attachment			
		- @catalog.attachments.limit(2).each do |attachment|
			.col-lg-6.item-show-attachment
				%a.visible-xs 
					.item
						.image#show-img{style:"background-image: url(#{attachment.image});"}
				%a.hidden-xs{href:"", "data-target" => "#modalfoto-#{attachment.id}", "data-toggle" => "modal", :type => "button"} 
					.item
						.image#show-img{style:"background-image: url(#{attachment.image});"}
						.mask-show-attachment.hidden-xs
							.title-item
								%hr
								%p 
									= attachment.name
				.modal.fade.hidden-xs{id:"modalfoto-#{attachment.id}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
					.button-close.close-modal
						%i.fa.fa-close
					.modal-dialog.modal-lg
						.modal-content
							.modal-body#modal-body-galeria
								#imagen-modal
									= image_tag attachment.image
	.container{style: "margin-top: 80px"}
		%h1 
			= @title.mb_chars.upcase
		.divition
		.title-show-attachment
			= @catalog.name
		.text-show-attachment{align: "justify"}
			= @catalog.description.html_safe
	.row.all-show-attachment			
		- @catalog.attachments.offset(2).each do |attachment|
			.col-lg-6.item-show-attachment
				%a.visible-xs
					.item
						.image#show-img{style:"background-image: url(#{attachment.image});"}
				%a.hidden-xs{href:"", "data-target" => "#modalfoto-#{attachment.id}", "data-toggle" => "modal", :type => "button"} 
					.item
						.image#show-img{style:"background-image: url(#{attachment.image});"}
						.mask-show-attachment.hidden-xs
							.title-item
								%hr
								%p 
									= attachment.name
				.modal.fade.hidden-xs{id:"modalfoto-#{attachment.id}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
					.button-close.close-modal
						%i.fa.fa-close
					.modal-dialog.modal-lg
						.modal-content
							.modal-body#modal-body-galeria
								#imagen-modal
									= image_tag attachment.image
	
#footer
	= render 'footer'