#show-portfolio
	.container{style: "margin-top: 80px"}
		%h1 
			DESCARGABLES
		%hr
		.title-show-portfolio
			= @title
		.section-show-portfolio
			= image_tag "frontend/portafolio/section-portfolio.png", width: "200px"
		.text-show-portfolio
			- if @text
				= @text.html_safe 
			- else
				Página no encontrada.

	.row.all-show-portfolio			
		- @catalogs.each do |catalog|
			.col-lg-6.item-show-portfolio
				=link_to "#{@category}/#{catalog.id}" do
					.item
						.image#show-img{style:"background-image: url(#{catalog.cover});"}
						.mask-show-portfolio
							.title-item
								= catalog.category.mb_chars.upcase.to_s
								%hr
								%p 
									= catalog.name

#footer
	= render 'footer'

	