.widget
	%h1.title-general{ style: "margin-bottom:0px; color: #ed6d58; padding-top:0px;"}
		CATEGORÍAS
	%hr.title-hr.pull-left{ style: "border-color: #ed6d58; margin-bottom:20px;" }
	%ul.categories{ style: "margin-top:75px;"}
		%li{ class: "#{'active' if action_name == 'index_front'}" }
			= link_to index_front_posts_path do
				TODAS	
		- InyxBlogRails::Category.all.each do |category|
			%li{ class: "#{'active' if category.permalink == params[:category_permalink]}" }
				= link_to controller: "posts", action: "category_front", category_permalink: category.permalink do
					= category.name.mb_chars.upcase.to_s		
