.widget
	%h1.title-general{ style: "margin-bottom:0px; color: #ed6d58; padding-top:0px;"} RECIENTES
	%hr.title-hr.pull-left{ style: "border-color: #ed6d58; margin-bottom:20px;" }
	%ul{ style: "margin-top:75px;"}
		- @recents.each do |recent|
			%li
				= link_to "/blog/posts/#{recent.permalink}", style: "font-family: 'Vollkorn', sans-serif; color: #333333; font-size: 14px;" do
					%i.fa.fa-sign-out
					= recent.title
				.datetime
					%small= recent.created_at.strftime("%d %b. %Y / %H:%M")