.widget
	= form_tag search_posts_path, method: :get, :html => {:class => ""} do |f|
		.input-group
			= text_field_tag :query, params[:query], :placeholder => "Buscar..", class: "search"
			%span.input-group-addon
				%i.fa.fa-search