.widget
	%h1.title-general{ style: "margin-bottom:0px; color: #ed6d58; padding-top:0px;"}
		TAGS
	%hr.title-hr.pull-left{ style: "border-color: #ed6d58; margin-bottom:20px;" }
	.tags{ style: "margin-top: 75px;"}
		- ActsAsTaggableOn::Tag.most_used(9).each do |tag|
			= link_to index_tag_posts_path(tag.name.parameterize), class: "tag label label-default light #{'active' if action_name == "tag_front" and tag.name.humanize == params[:permalink].gsub("-", " ").humanize}" do
				%i.fa.fa-tags
				= tag.name.mb_chars.upcase.to_s