.widget
	%h1.title-general{ style: "margin-bottom:0px; color: #ed6d58; padding-top:0px;"}
		INSTAGRAM
	%hr.title-hr.pull-left{ style: "border-color: #ed6d58; margin-bottom:20px;" }
	%script{ src: "http://snapwidget.com/js/snapwidget.js" }
	%iframe{ src:"http://snapwidget.com/bd/?u=c3R1ZGlvbXVmZmlufGlufDIwMHwyfDJ8fG5vfDIwfGZhZGVPdXR8b25TdGFydHx5ZXN8eWVz&ve=090315", title:"StudioMuffin", class: "snapwidget-widget", allowTransparency:"true", frameborder:"0", scrolling:"no", style:"border:none; overflow:hidden; width:100%; margin-top:15px;" }

	