!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %center
      %h1= "Tienes un nuevo mensaje de #{@client[:name]}"
    %p
      %strong Asunto del mensaje:
      = @client[:subject]
    %p
      %strong Email del cliente:
      = @client[:email]
    %p
      %strong Mensaje:
      = @client[:content]