.navbar-header
	- if current_user
		-if controller_name == "admin" or action_name == "index" 
			%button.navbar-toggle.button-navbar.pull-left{ style: "margin-left:0px; margin-right:0px;" }
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
		-else 
			= link_to( { controller: controller_name, action: :index }, class: "navbar-toggle pull-left icon_back", style: "margin-left:0px; margin-right:0px;") do
				%i.fa.fa-arrow-left

		%ul.nav.navbar-nav.pull-left.visible-md.visible-lg	
			%li 
				.name-title
					= t("controllers.#{params[:controller].split("/").last.downcase}")	
					.span.hidden-sm.hidden-xs{style:"display:inline;"}											
						= " > "+t("admin.actions.#{params[:action].downcase}") unless params[:controller] == 'admin'

		%ul.nav.navbar-nav.pull-left.visible-xs.visible-sm		
			%li{"ng-show"=>"!btnDelete"} 
				.name-title
					= t("controllers.#{params[:controller].split("/").last.downcase}")		
%ul.links-options
	= render 'layouts/admin/navigation_links'
		
= form_for "/admin/#{controller_name}", method: :get, :html => {:class => ""} do |f|
	.box-search
		= text_field_tag :search, params[:search], :placeholder => "Buscar..", class: "form-control input-search"
		%a.cancel-search.pull-right{'ng-click'=>"hide_search()"}
			%i.fa.fa-times 