!!!
%html
	= render "layouts/admin/head"
	%body#admin{style:"font-family: 'Titillium Web', sans-serif; "}

		- if controller_name == 'sessions' #vista para login
			.main-devise
				= yield

    
		- if current_user #vista para current_user
			%header{'ng-controller'=>'indexObjectCtrl', style: "min-height:100%;"}
				= render 'layouts/admin/navigation'
				= render 'layouts/admin/sidebar'
				%main{ role: 'main' }
					.main.main-admin
						= yield


       

      
    

