%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Studio Muffin - Diseño & Branding'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Noticias referentes a las tendencias en diseño, programación web y branding.'}"}
	%link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700, 900", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
	= favicon_link_tag "frontend/favicon.png"
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'blog/frontend/application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	:javascript 
		$(document).on('ready page:load', function(arguments) {
			$('body').css('overflow-y', 'auto');
			$('#front-navbar').css('display', 'block');
		});
	