#admin-navbar {
	font-weight: bold;
	font-size: 14px;
	height: 50px;
	background-color: #FFC107;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
	font-family: 'Roboto', sans-serif;
	
	.links-options {
		padding: 0px;
		margin-right: 20px;
		margin-bottom: 0px;
		position: absolute;
		top: 0px;
		right: 0px;
		list-style: none;
	}

	.links-options li{
		position: relative;
		top: 7px;
		display: inline;
		margin-left: 10px;
	}

	.links-options li a {
		text-decoration: none;
		color: white;
		font-size: 25px;
	}

	.navbar-nav {
		margin: 0px;
	}

	.navbar-nav > li > a {
		font-weight: bold;
		color: white;
		font-size: 18px;
	}

	.enable {
		position: relative;
		top: -4px;
	}

	.navbar-nav > .enable > a {
		color: #26bf28;
		border-bottom: 2px solid #26bf28;
		padding-bottom: 5px;
	}

	.navbar-brand {
		padding: 5px 30px 5px 20px;
	}

	.navbar-toggle{
		margin-left: 20px;
		display: block;
	}

	.navbar-collapse {
		padding-right: 0px;
	}

	#links-sidebar > li{
		font-weight: bold;
		color: #444444;
	}
	.navbar-toggle {
		border: none;
		background: none;
	}
	.navbar-toggle .icon-bar {
		background-color: white;
	}

	.logo-nav{
		margin-top: 6px;
		margin-left: -15px;
	}

	.name-title{
		margin-top: 8px;
		color: #ffffff;
		font-size: 23px;
	}

	.input-search{
		padding-left: 10px;
		font-size: 20px;
		height: 50px;
		border-radius: 0px;
		border: none;
	}

	.box-search{
		position: absolute;
		width: 100%;
		top: -50px;
	}

	.cancel-search {
		position: absolute;
		font-size: 20px;
		color: #a3a3a3;
		right: 10px;
		top: 10px;
		transition: all 0.4s ease-in-out;
	}

	.cancel-search:hover {
		color: black;
		transition: all 0.4s ease-in-out;
	}
	.icon_back{
		font-size:20px;
		color:white;
		position: relative;
		top:-8px;
	}
	
}

