%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Studio Muffin es una empresa creada para convertir la marca de sus clientes en su principal estrategia de negocios. Los servicios que ofrece en el campo del marketing y diseño son: branding, diseño web, diseños (impresos y digitales).'}"}
	%title= content_for?(:title) ? yield(:title) : 'Studio Muffin - Diseño grafico en Venezuela'
	%link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700, 900", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= favicon_link_tag "frontend/favicon.png"
	= csrf_meta_tags