-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top#front-navbar{ class: "#{'background-show' if controller_name != 'frontend' or action_name != 'index'}" }
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to main_app.root_path, class: "brand" do
        = image_tag "frontend/home/logo.png", width: "50px", style: "margin-right:20px;" , class: "hidden-xs hidden-sm"
      .visible-xs.navbar-brand
        = link_to main_app.root_path, class: "brand" do
          = image_tag "frontend/home/logo.png", width: "40px;", style: "margin-top:-15px;"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right.hidden-xs{ class: "#{'top-nav' if action_name == 'index'}"}     
        = render 'layouts/frontend/navigation_links'
      %ul.nav.navbar-nav.visible-xs{ class: "#{'top-nav' if action_name == 'index'}"}     
        = render 'layouts/frontend/navigation_links'

          
