- if action_name == "index"
	%li.li-nav= link_to 'HOME', "#home", style: "display: none;"
	%li.li-nav= link_to 'SERVICIOS', "#services"
	%li.li-nav= link_to 'NOSOTROS', "#about"
	%li.li-nav= link_to 'PORTAFOLIO', "#portfolio"
	%li.li-nav= link_to 'BLOG', "#blog"
	%li.li-nav= link_to 'DESCARGAS', "#downloads"
	%li.li-nav= link_to 'CLIENTES & ALIADOS', "#clients"
	%li.li-nav= link_to 'CONTACTO', "#contact_us"
	
- else
	%li= link_to 'SERVICIOS', main_app.root_path(anchor: "services")
	%li{ class: "#{'current' if action_name == "about"}"}= link_to 'NOSOTROS', main_app.about_path
	%li{ class: "#{'current' if action_name == 'show_attachment' or action_name == 'show_portfolio' }"}= link_to 'PORTAFOLIO', main_app.root_path(anchor: "portfolio")
	%li{ class: "#{'current' if controller_name == "posts"}"}= link_to 'BLOG', "/blog/posts"
	%li{ class: "#{'current' if action_name == 'show_downloads'}"}= link_to 'DESCARGAS', main_app.root_path(anchor: "downloads")
	%li= link_to 'CLIENTES & ALIADOS', main_app.root_path(anchor: "clients")
	%li= link_to 'CONTACTO', main_app.root_path(anchor: "#clients")

:javascript
	$('.li-nav').click(function() {
		$('.collapse').collapse('hide')
	});