!!!
%html
  = render 'layouts/frontend/head' 
  %body
    %header
      = render 'layouts/frontend/navigation'
      = render "layouts/frontend/messages"
    .load-fixed
      .centered
      .img-container
        = image_tag "frontend/home/logo.png"
    .socials#red-socials
      .button-close#close-shared
        %i.fa.fa-close
      .centered
      .icons-socials
        %p SIGUE NUESTROS TRABAJOS POR LAS REDES SOCIALES
        %ul
          %li
            = link_to "https://twitter.com/studiomuffin", target: "_blank" do
              %i.fa.fa-twitter
          %li
            = link_to "https://instagram.com/studiomuffin", target: "_blank" do
              %i.fa.fa-instagram
          %li
            = link_to "https://www.facebook.com/pages/Studio-Muffin/809048255826356?fref=ts", target: "_blank" do
              %i.fa.fa-facebook
          %li
            = link_to "https://www.behance.net/studiomuffin", target: "_blank" do
              %i.fa.fa-behance
    = yield
    
    .button-shared.hidden-xs
      = image_tag "frontend/home/More.png"


- if controller_name == 'frontend' and action_name == 'index'
  :javascript 
    window.onscroll = function (event) {
     if($(window).scrollTop() <= 100) {
       $("#front-navbar").removeClass("background-show");
       $("#front-navbar").addClass("background-hide");
     } else {
       $("#front-navbar").removeClass("background-hide");
       $("#front-navbar").addClass("background-show");
     }
    }