/*large desktop*/
@media(min-width:1200px) {
	#about {
		position: relative;
		top: 50px;
		opacity: 0;
		padding-top: 170px;
		padding-bottom: 0px;
		
		.container {
			width: 60%;
		}

		.announce {
			font-family: 'Vollkorn', serif;
			font-weight: 700;
			font-size: 2.4em;
			color: #777777;
			margin-bottom: 100px;

			span {
				color: #ed6d58;
			}

		}

		.btn-muffin {
			float: right;
		}
	}

	.foo {
		height: 70px;
		background: #f3f3f3;
	}

	.effect_about {
		opacity: 1 !important;
		top: 0px !important;
		-webkit-animation: effect-bottom 1.2s;
		animation: effect-bottom 1.2s;
	}

	#about-details {
		.container {
			width: 70%;
			padding-top: 100px;
		}

		.banner {
			width: 100%;
			height: 300px;
		}

		.content-team {
			margin-bottom: 40px;
			margin-top: 40px; 
			margin-left: 120px; 
			margin-right: 120px;
		}
		
		.person {
			position: relative;
			width: 350px;
			height: 350px;
			border-radius: 50%;

			.mask {
				position: relative;
				border: solid rgba(255, 255, 255, 0.3);
				width: 350px;
				height: 350px;
				background: transparent;
				z-index: 100;
				border-radius: 50%;
				border-width: 20px;
				-webkit-animation: mask-border .5s;
    		animation: mask-border .5s;

    		.mask-socials {
					position: relative;
			    width: 0px;
			    height: 0px;
			    top: 175px;
			    left: 0px;
			    -webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
			    background: rgba(237, 109, 88, 0.68);
			    color: white;
			    border-radius: 50%;
			    overflow: hidden;
			    text-align: center;
				}
				
				.descriptions {
					opacity: 0;
					-webkit-transition-duration: 1.2s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.name {
					margin-top: 50px;
					font-size: 0px;
					font-family: "PT serif";
					font-weight: 700;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				hr {
					border-color: white;
					border: 1px solid;
					width: 0%;
					margin-bottom: 20px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.profesion {
					font-weight: 700;
					font-size: 0px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.icons-socials {
					margin-top: 15px;
					font-size: 0px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}
			}

			.mask:hover {
				border-width: 0px;
				-webkit-animation: person .5s;
    		animation: person .5s;

    		.mask-socials {
					top: 0px;
			    left: 0px;
			    width: 350px;
			    height: 350px;	
				}

				.name {
					font-size: 35px;
				}

				hr {
					width: 60%;
				}

				.profesion {
					font-size: 14px;
				}

				.descriptions{
					opacity: 1;
				}

				.icons-socials {
					font-size: 40px;
				}
			}

			.icons {
				color: white;
				text-decoration: none;
			}

			.icons:hover {
				color: #333333;
				-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    		transition: 1s;
			}
		}

		#cristi {
			background: image-url("frontend/about/cristi.png") no-repeat;
			background-size: 100%;
		}

		#maty {
			background: image-url("frontend/about/maty.png") no-repeat;
			background-size: 100%;
		}
	}
}

/*media tablet and desktop*/
@media (min-width: 992px) and (max-width: 1199px) {
	#about {
		position: relative;
		top: 50px;
		opacity: 0;
		padding-top: 170px;
		padding-bottom: 0px;
		
		.container {
			width: 80%;
		}

		.announce {
			font-family: 'Vollkorn', serif;
			font-weight: 700;
			font-size: 2.4em;
			color: #777777;
			margin-bottom: 100px;

			span {
				color: #ed6d58;
			}

		}

		.btn-muffin {
			float: right;
		}
	}

	.foo {
		height: 70px;
		background: #f3f3f3;
	}

	.effect_about {
		opacity: 1 !important;
		top: 0px !important;
		-webkit-animation: effect-bottom 1.2s;
		animation: effect-bottom 1.2s;
	}

	#about-details {
		.container {
			width: 85%;
			padding-top: 30px;
		}

		.banner {
			width: 100%;
			height: 300px;
		}

		.content-team {
			margin-bottom: 40px;
			margin-top: 40px; 
			margin-left: 120px; 
			margin-right: 120px;
		}
		
		.person {
			position: relative;
			width: 350px;
			height: 350px;
			border-radius: 50%;

			.mask {
				position: relative;
				border: solid rgba(255, 255, 255, 0.3);
				width: 350px;
				height: 350px;
				background: transparent;
				z-index: 100;
				border-radius: 50%;
				border-width: 20px;
				-webkit-animation: mask-border .5s;
    		animation: mask-border .5s;

    		.mask-socials {
					position: relative;
			    width: 0px;
			    height: 0px;
			    top: 175px;
			    left: 0px;
			    -webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
			    background: rgba(237, 109, 88, 0.68);
			    color: white;
			    border-radius: 50%;
			    overflow: hidden;
			    text-align: center;
				}
				
				.descriptions {
					opacity: 0;
					-webkit-transition-duration: 1.2s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.name {
					margin-top: 50px;
					font-size: 0px;
					font-family: "PT serif";
					font-weight: 700;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				hr {
					border-color: white;
					border: 1px solid;
					width: 0%;
					margin-bottom: 20px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.profesion {
					font-weight: 700;
					font-size: 0px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.icons-socials {
					margin-top: 15px;
					font-size: 0px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}
			}

			.mask:hover {
				border-width: 0px;
				-webkit-animation: person .5s;
    		animation: person .5s;

    		.mask-socials {
					top: 0px;
			    left: 0px;
			    width: 350px;
			    height: 350px;	
				}

				.name {
					font-size: 35px;
				}

				hr {
					width: 60%;
				}

				.profesion {
					font-size: 14px;
				}

				.descriptions{
					opacity: 1;
				}

				.icons-socials {
					font-size: 40px;
				}
			}

			.icons {
				color: white;
				text-decoration: none;
			}

			.icons:hover {
				color: #333333;
				-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    		transition: 1s;
			}
		}

		#cristi {
			background: image-url("frontend/about/cristi.png") no-repeat;
			background-size: 100%;
		}

		#maty {
			background: image-url("frontend/about/maty.png") no-repeat;
			background-size: 100%;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#about {
		position: relative;
		top: 50px;
		opacity: 0;
		padding-top: 170px;
		padding-bottom: 0px;
		
		.container {
			width: 90%;
		}

		.announce {
			font-family: 'Vollkorn', serif;
			font-weight: 700;
			font-size: 2.4em;
			color: #777777;
			margin-bottom: 100px;

			span {
				color: #ed6d58;
			}

		}

		.btn-muffin {
			float: right;
		}
	}

	.foo {
		height: 70px;
		background: #f3f3f3;
	}

	.effect_about {
		opacity: 1 !important;
		top: 0px !important;
		-webkit-animation: effect-bottom 1.2s;
		animation: effect-bottom 1.2s;
	}

	#about-details {
		.container {
			width: 90%;
			padding-top: 0px;
		}

		.banner {
			width: 100%;
			height: 300px;
		}

		.content-team {
			margin-bottom: 40px;
			margin-top: 40px; 
			margin-left: 120px; 
			margin-right: 120px;
		}
		
		.person {
			position: relative;
			width: 350px;
			height: 350px;
			border-radius: 50%;

			.mask {
				position: relative;
				border: solid rgba(255, 255, 255, 0.3);
				width: 350px;
				height: 350px;
				background: transparent;
				z-index: 100;
				border-radius: 50%;
				border-width: 20px;
				-webkit-animation: mask-border .5s;
    		animation: mask-border .5s;

    		.mask-socials {
					position: relative;
			    width: 0px;
			    height: 0px;
			    top: 175px;
			    left: 0px;
			    -webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
			    background: rgba(237, 109, 88, 0.68);
			    color: white;
			    border-radius: 50%;
			    overflow: hidden;
			    text-align: center;
				}
				
				.descriptions {
					opacity: 0;
					-webkit-transition-duration: 1.2s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.name {
					margin-top: 50px;
					font-size: 0px;
					font-family: "PT serif";
					font-weight: 700;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				hr {
					border-color: white;
					border: 1px solid;
					width: 0%;
					margin-bottom: 20px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.profesion {
					font-weight: 700;
					font-size: 0px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.icons-socials {
					margin-top: 15px;
					font-size: 0px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}
			}

			.mask:hover {
				border-width: 0px;
				-webkit-animation: person .5s;
    		animation: person .5s;

    		.mask-socials {
					top: 0px;
			    left: 0px;
			    width: 350px;
			    height: 350px;	
				}

				.name {
					font-size: 35px;
				}

				hr {
					width: 60%;
				}

				.profesion {
					font-size: 14px;
				}

				.descriptions{
					opacity: 1;
				}

				.icons-socials {
					font-size: 40px;
				}
			}

			.icons {
				color: white;
				text-decoration: none;
			}

			.icons:hover {
				color: #333333;
				-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    		transition: 1s;
			}
		}

		#cristi {
			background: image-url("frontend/about/cristi.png") no-repeat;
			background-size: 100%;
		}

		#maty {
			margin-top: 30px;
			background: image-url("frontend/about/maty.png") no-repeat;
			background-size: 100%;
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#about {
		position: relative;
		top: 50px;
		opacity: 1;
		padding-top: 70px;
		padding-bottom: 70px;
		
		.container {
			width: 90%;
		}
		
		.title-hr {
			margin-bottom: 33px;
		}

		.announce {
			font-family: 'Vollkorn', serif;
			font-weight: 700;
			text-align: center;
			font-size: 1.6em;
			color: #777777;
			margin-bottom: 50px;

			span {
				color: #ed6d58;
			}
		}
	}

	.foo {
		height: 70px;
		background: #f3f3f3;
	}

	#about-details {
		.container {
			margin-top: 60px;
			width: 100%;
		}

		.banner {
			width: 100%;
			height: 200px;

			img {
				width: 100%;
				height: 200px;
			}
		}

		.cols {
			padding: 0px;
		}

		.content-team {
			margin-left: 0px;
			margin-right: 0px;
			margin-bottom: 40px;
		}
		
		.person {
			position: relative;
			width: 300px;
			height: 300px;
			border-radius: 50%;			

			.mask {
				position: relative;
				border: solid rgba(255, 255, 255, 0.3);
				width: 300px;
				height: 300px;
				background: transparent;
				z-index: 100;
				border-radius: 50%;
				border-width: 20px;
				-webkit-animation: mask-border .5s;
    		animation: mask-border .5s;

    		.mask-socials {
					position: relative;
			    width: 0px;
			    height: 0px;
			    top: 175px;
			    left: 0px;
			    -webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
			    background: rgba(237, 109, 88, 0.68);
			    color: white;
			    border-radius: 50%;
			    overflow: hidden;
			    text-align: center;
				}
				
				.descriptions {
					margin-top: -15px;
					margin-left: 5px;
					opacity: 0;
					-webkit-transition-duration: 1.2s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.name {
					margin-top: 50px;
					font-size: 0px;
					font-family: "PT serif";
					font-weight: 700;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				hr {
					border-color: white;
					border: 1px solid;
					width: 0%;
					margin-bottom: 20px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.profesion {
					font-weight: 700;
					font-size: 0px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.icons-socials {
					margin-top: 15px;
					font-size: 0px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}
			}

			.mask:hover {
				border-width: 0px;
				-webkit-animation: person .5s;
    		animation: person .5s;

    		.mask-socials {
					top: 0px;
			    left: 0px;
			    width: 300px;
			    height: 300px;	
				}

				.name {
					font-size: 35px;
				}

				hr {
					width: 60%;
				}

				.profesion {
					font-size: 14px;
				}

				.descriptions{
					opacity: 1;
				}

				.icons-socials {
					font-size: 30px;
				}
			}

			.icons {
				color: white;
				text-decoration: none;
			}

			.icons:hover {
				color: #333333;
				-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    		transition: 1s;
			}
		}

		#cristi {
			background: image-url("frontend/about/cristi.png") no-repeat;
			background-size: 100%;
		}

		#maty {
			background: image-url("frontend/about/maty.png") no-repeat;
			background-size: 100%;
			margin-top: 50px;
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#about {
		position: relative;
		top: 50px;
		opacity: 1;
		padding-top: 70px;
		padding-bottom: 70px;
		
		.container {
			width: 60%;
		}
		
		.title-hr {
			margin-bottom: 33px;
		}

		.announce {
			font-family: 'Vollkorn', serif;
			font-weight: 700;
			text-align: center;
			font-size: 1.6em;
			color: #777777;
			margin-bottom: 50px;

			span {
				color: #ed6d58;
			}
		}
	}

	.foo {
		height: 70px;
		background: #f3f3f3;
	}

	#about-details {
		.container {
			margin-top: 60px;
			width: 100%;
		}

		.banner {
			width: 100%;
			height: 200px;
		}

		.cols {
			padding: 0px;
		}

		.content-team {
			margin-left: 0px;
			margin-right: 0px;
			margin-bottom: 40px;
		}
		
		.person {
			position: relative;
			width: 300px;
			height: 300px;
			border-radius: 50%;			

			.mask {
				position: relative;
				border: solid rgba(255, 255, 255, 0.3);
				width: 300px;
				height: 300px;
				background: transparent;
				z-index: 100;
				border-radius: 50%;
				border-width: 20px;
				-webkit-animation: mask-border .5s;
    		animation: mask-border .5s;

    		.mask-socials {
					position: relative;
			    width: 0px;
			    height: 0px;
			    top: 175px;
			    left: 0px;
			    -webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
			    background: rgba(237, 109, 88, 0.68);
			    color: white;
			    border-radius: 50%;
			    overflow: hidden;
			    text-align: center;
				}
				
				.descriptions {
					margin-top: -15px;
					margin-left: 5px;
					opacity: 0;
					-webkit-transition-duration: 1.2s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.name {
					margin-top: 50px;
					font-size: 0px;
					font-family: "PT serif";
					font-weight: 700;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				hr {
					border-color: white;
					border: 1px solid;
					width: 0%;
					margin-bottom: 20px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.profesion {
					font-weight: 700;
					font-size: 0px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}

				.icons-socials {
					margin-top: 15px;
					font-size: 0px;
					-webkit-transition-duration: .5s;
			    -webkit-transition-property: all;
			    -webkit-transition-timing-function: ease-in-out;
				}
			}

			.mask:hover {
				border-width: 0px;
				-webkit-animation: person .5s;
    		animation: person .5s;

    		.mask-socials {
					top: 0px;
			    left: 0px;
			    width: 300px;
			    height: 300px;	
				}

				.name {
					font-size: 35px;
				}

				hr {
					width: 60%;
				}

				.profesion {
					font-size: 14px;
				}

				.descriptions{
					opacity: 1;
				}

				.icons-socials {
					font-size: 30px;
				}
			}

			.icons {
				color: white;
				text-decoration: none;
			}

			.icons:hover {
				color: #333333;
				-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    		transition: 1s;
			}
		}

		#cristi {
			background: image-url("frontend/about/cristi.png") no-repeat;
			background-size: 100%;
		}

		#maty {
			background: image-url("frontend/about/maty.png") no-repeat;
			background-size: 100%;
			margin-top: 50px;
		}
	}
}

/*keyframes*/
@-webkit-keyframes person {
	0% {
		border-width: 20px;
	}

	100% {
		border-width: 0px;
	}
}

@keyframes person {
	0% {
		border-width: 20px;
	}

	100% {
		border-width: 0px;
	}
}

/*keyframes*/
@-webkit-keyframes mask-border {
	0% {
		border-width: 0px;
	}

	100% {
		border-width: 20px;
	}
}

@keyframes mask-border {
	0% {
		border-width: 0px;
	}

	100% {
		border-width: 20px;
	}
}

/*keyframes*/
@-webkit-keyframes mask-socials {
	0% {
		top: 0px;
		left: 0px;
		width: 0px;
		height: 0px
	}

	100% {
		width: 350px;
		height: 350px;
	}
}

@keyframes mask-socials {
	0% {
		top: 0px;
		left: 0px;
		width: 0px;
		height: 0px
	}

	100% {
		width: 350px;
		height: 350px;
	}
}


