/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media (min-width: 768px) {
	#nav-blog {
		border: 0px;
	}

	.read-more {
		float: right;
	}

	#navbar-blog {
		background: #ed6d58;
		font-family: 'Lato', sans-serif;

		li {
			a {
				padding-left: 30px;
				padding-right: 30px;
				color: white;
				letter-spacing: 2px;
				font-weight: 900;
			}

			a:hover {
				background: #ed6d58;
				opacity: 1;
				color: #333333;
				letter-spacing: 2px;
				font-weight: 900;
				-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
				transition: 0.5s;
			}
		}

		.active {
			background: transparent;
			a {
				color: #333333;
			}
		}
	}

	.blog {
		margin-top: 30px;
		
		.preview-post {
			border-bottom: #ddd 1px solid;
			padding-bottom: 60px;
			margin-bottom: 60px;

			.content-post {
				padding: 10px 0;
				line-height: 22px;
				margin: 0 0 0px;
			}
		}

		.title-post {
			margin-top: 30px;
			a {
				font-family: 'Vollkorn', sans-serif;
				color: #333333;
			}
		}

		.search {
			width: 100%;
			font-family: 'PT Serif', serif;
			height: 80px;
			border: none;
			font-size: 1.7em;
			border-top: 1px solid #d7d7d7;
			border-bottom: 1px solid #d7d7d7;
			border-radius: 0;
			margin-bottom: 0px;
			box-shadow: none;
			color: #777777;
			font-weight: 700;
		}

		.input-group-addon {
			border-radius: 0px;
			font-size: 20px;
			color: #777777;
			background: transparent;
			border-top: 1px solid #d7d7d7;
			border-bottom: 1px solid #d7d7d7;
			border-right: 0px;
		}

		.search:focus {
			outline: none;
		}

		.widget {
			margin-bottom: 60px;

			.categories {
				li{
					margin-bottom: 15px;
				}

				li a {
					font-family: 'Vollkorn', sans-serif; 
					color: #333333; 
					font-size: 18px;
				}

				.active a{
					color: #ed6d58;
				}

				li a:hover {
					color: #ed6d58;
					background: transparent;
					-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
				transition: 0.5s;
				} 
			}

			.tags {
				.active {
					background-color: #ed6d58;
				}

				:hover { 
					background-color: #ed6d58;
					-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
				transition: 0.5s;
				}
			}

			h4 {
				letter-spacing: normal;
				line-height: 27px;
				margin: 0 0 14px 0;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin-bottom: 6px;
				}

				a {
					color: black;
					text-decoration: none;
				}
			}

			a.tag {
				background-color: #333333;
				border: 0px;
				padding-top: 6px;
				padding-bottom: 6px;
				margin-bottom: 6px;
				color: white;
			}

			.nav-list {
				li a{
					color: black;
				}
			}

			.datetime {
				color: #999;
				font-size: 12px;
			}

			.label-default {
				border: 1px solid #CCC;
				padding: 0.3em 0.7em 0.4em;
			}

			.label {
				font-weight: normal;
				padding: 0.4em 0.8em 0.5em;
				display: inline-block;
			}
		}

		.date {
			font-family: 'Vollkorn', sans-serif;
			font-weight: 700;
			text-align: center;
			font-size: 100px;
			display: inline-block;
			line-height: 65px;
			color: #ed6d58;

			small {
				color: #777777;
				font-weight: 400;
				text-transform: uppercase;
				display: block;
				font-size: 14px;
				line-height: 20px;
			}
		}

		.info {
			font-family: 'Vollkorn', sans-serif;
			display: block;
			margin-top: 0px;
			padding-top: 20px;
			font-size: 14px;
			color: #333;

			.block {
				display: block !important;
				margin-bottom: 10px;
			}

			a { 
				color: #777777;
			}
		}

		.navbar-nav li.active {
			background-color: #E4E4E4;
		}
		.navbar-nav	li a:hover {
			background-color: #E4E4E4;
		}

		.dropdown:hover .dropdown-menu {
		display: block;
		}
		
	}

	/*iframes youtube responsive*/
	.video-container {
	  position: relative;
	  padding-bottom: 56.25%;
	  padding-top: 30px; height: 0; overflow: hidden;
	  margin-bottom: 10px;
	}
	 
	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/*phone*/
@media(max-width:767px) {
	#nav-blog {
		border: 0px;
	}

	.btn-muffin {
		margin-top: 30px;
	}

	#navbar-blog {
		background: #ed6d58;
		font-family: 'Lato', sans-serif;

		li {
			a {
				padding-left: 30px;
				padding-right: 30px;
				color: white;
				letter-spacing: 2px;
				font-weight: 900;
			}

			a:hover {
				background: #ed6d58;
				opacity: 1;
				color: #333333;
				letter-spacing: 2px;
				font-weight: 900;
				-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
				transition: 0.5s;
			}
		}

		.active {
			background: transparent;
			a {
				color: #333333;
			}
		}
	}

	.blog {
		margin-top: 30px;
		
		.preview-post {
			border-bottom: #ddd 1px solid;
			padding-bottom: 60px;
			margin-bottom: 60px;

			.content-post {
				padding: 10px 0;
				line-height: 22px;
				margin: 0 0 0px;
			}
		}

		.title-post {
			margin-top: 20px;
			font-size: 1.2em;
			a {
				font-family: 'Vollkorn', sans-serif;
				color: #333333;
			}
		}

		.credits {
			font-size: 12px;
			margin-top: 5px;
			font-family: 'Vollkorn', sans-serif;
			color: #333333;
		}

		.search {
			width: 100%;
			font-family: 'PT Serif', serif;
			height: 80px;
			border: none;
			font-size: 1.7em;
			border-top: 2px solid #d7d7d7;
			border-bottom: 2px solid #d7d7d7;
			border-radius: 0;
			margin-bottom: 0px;
			box-shadow: none;
			color: #777777;
			font-weight: 700;
		}

		.input-group-addon {
			border-radius: 0px;
			font-size: 20px;
			color: #777777;
			background: transparent;
			border-top: 2px solid #d7d7d7;
			border-bottom: 2px solid #d7d7d7;
			border-right: 0px;
		}

		.input-group {
			margin-top: 70px;
		}

		.search:focus {
			outline: none;
		}

		.widget {
			margin-bottom: 60px;

			.categories {
				li{
					margin-bottom: 15px;
				}

				li a {
					font-family: 'Vollkorn', sans-serif; 
					color: #333333; 
					font-size: 18px;
				}

				.active a{
					color: #ed6d58;
				}

				li a:hover {
					color: #ed6d58;
					background: transparent;
					-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
				transition: 0.5s;
				} 
			}

			.tags {
				.active {
					background-color: #ed6d58;
				}

				:hover { 
					background-color: #ed6d58;
					-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
				transition: 0.5s;
				}
			}

			h4 {
				letter-spacing: normal;
				line-height: 27px;
				margin: 0 0 14px 0;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin-bottom: 6px;
				}

				a {
					color: black;
					text-decoration: none;
				}
			}

			a.tag {
				background-color: #333333;
				border: 0px;
				padding-top: 6px;
				padding-bottom: 6px;
				margin-bottom: 6px;
				color: white;
			}

			.nav-list {
				li a{
					color: black;
				}
			}

			.datetime {
				color: #999;
				font-size: 12px;
			}

			.label-default {
				border: 1px solid #CCC;
				padding: 0.3em 0.7em 0.4em;
			}

			.label {
				font-weight: normal;
				padding: 0.4em 0.8em 0.5em;
				display: inline-block;
			}
		}

		.date {
			font-family: 'Vollkorn', sans-serif;
			font-weight: 700;
			text-align: center;
			font-size: 100px;
			display: inline-block;
			line-height: 65px;
			color: #ed6d58;

			small {
				color: #777777;
				font-weight: 400;
				text-transform: uppercase;
				display: block;
				font-size: 14px;
				line-height: 20px;
			}
		}

		.info {
			font-family: 'Vollkorn', sans-serif;
			display: block;
			margin-top: 0px;
			padding-top: 20px;
			font-size: 14px;
			color: #333;

			.block {
				display: block !important;
				margin-bottom: 10px;
			}

			a { 
				color: #777777;
			}
		}

		.navbar-nav li.active {
			background-color: #E4E4E4;
		}
		.navbar-nav	li a:hover {
			background-color: #E4E4E4;
		}

		.dropdown:hover .dropdown-menu {
		display: block;
		}
		
	}

	/*iframes youtube responsive*/
	.video-container {
	  position: relative;
	  padding-bottom: 56.25%;
	  padding-top: 30px; height: 0; overflow: hidden;
	  margin-bottom: 10px;
	}
	 
	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#nav-blog {
		border: 0px;
	}

	#navbar-blog {
		background: #ed6d58;
		font-family: 'Lato', sans-serif;

		li {
			a {
				padding-left: 30px;
				padding-right: 30px;
				color: white;
				letter-spacing: 2px;
				font-weight: 900;
			}

			a:hover {
				background: #ed6d58;
				opacity: 1;
				color: #333333;
				letter-spacing: 2px;
				font-weight: 900;
				-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
				transition: 0.5s;
			}
		}

		.active {
			background: transparent;
			a {
				color: #333333;
			}
		}
	}

	.blog {
		margin-top: 30px;
		
		.preview-post {
			border-bottom: #ddd 1px solid;
			padding-bottom: 60px;
			margin-bottom: 60px;

			.content-post {
				padding: 10px 0;
				line-height: 22px;
				margin: 0 0 0px;
			}
		}
		
		.title-post {
			margin-top: 20px;
			font-size: 1.2em;
			a {
				font-family: 'Vollkorn', sans-serif;
				color: #333333;
			}
		}

		.credits {
			font-size: 12px;
			margin-top: 5px;
			font-family: 'Vollkorn', sans-serif;
			color: #333333;
		}

		.search {
			width: 100%;
			font-family: 'PT Serif', serif;
			height: 80px;
			border: none;
			font-size: 1.7em;
			border-top: 2px solid #d7d7d7;
			border-bottom: 2px solid #d7d7d7;
			border-radius: 0;
			margin-bottom: 0px;
			box-shadow: none;
			color: #777777;
			font-weight: 700;
		}

		.input-group-addon {
			border-radius: 0px;
			font-size: 20px;
			color: #777777;
			background: transparent;
			border-top: 2px solid #d7d7d7;
			border-bottom: 2px solid #d7d7d7;
			border-right: 0px;
		}

		.input-group {
			margin-top: 0px;
		}

		.search:focus {
			outline: none;
		}

		.widget {
			margin-bottom: 60px;

			.categories {
				li{
					margin-bottom: 15px;
				}

				li a {
					font-family: 'Vollkorn', sans-serif; 
					color: #333333; 
					font-size: 18px;
				}

				.active a{
					color: #ed6d58;
				}

				li a:hover {
					color: #ed6d58;
					background: transparent;
					-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
				transition: 0.5s;
				} 
			}

			.tags {
				.active {
					background-color: #ed6d58;
				}

				:hover { 
					background-color: #ed6d58;
					-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
				transition: 0.5s;
				}
			}

			h4 {
				letter-spacing: normal;
				line-height: 27px;
				margin: 0 0 14px 0;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin-bottom: 6px;
				}

				a {
					color: black;
					text-decoration: none;
				}
			}

			a.tag {
				background-color: #333333;
				border: 0px;
				padding-top: 6px;
				padding-bottom: 6px;
				margin-bottom: 6px;
				color: white;
			}

			.nav-list {
				li a{
					color: black;
				}
			}

			.datetime {
				color: #999;
				font-size: 12px;
			}

			.label-default {
				border: 1px solid #CCC;
				padding: 0.3em 0.7em 0.4em;
			}

			.label {
				font-weight: normal;
				padding: 0.4em 0.8em 0.5em;
				display: inline-block;
			}
		}

		.date {
			font-family: 'Vollkorn', sans-serif;
			font-weight: 700;
			text-align: center;
			font-size: 100px;
			display: inline-block;
			line-height: 65px;
			color: #ed6d58;

			small {
				color: #777777;
				font-weight: 400;
				text-transform: uppercase;
				display: block;
				font-size: 14px;
				line-height: 20px;
			}
		}

		.info {
			font-family: 'Vollkorn', sans-serif;
			display: block;
			margin-top: 0px;
			padding-top: 20px;
			font-size: 14px;
			color: #333;

			.block {
				display: block !important;
				margin-bottom: 10px;
			}

			a { 
				color: #777777;
			}
		}

		.navbar-nav li.active {
			background-color: #E4E4E4;
		}
		.navbar-nav	li a:hover {
			background-color: #E4E4E4;
		}

		.dropdown:hover .dropdown-menu {
		display: block;
		}
		
	}

	/*iframes youtube responsive*/
	.video-container {
	  position: relative;
	  padding-bottom: 56.25%;
	  padding-top: 30px; height: 0; overflow: hidden;
	  margin-bottom: 10px;
	}
	 
	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
