/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:768px){
	#blog {
		position: relative;
		background-color: #f3f3f3;
		padding-top: 170px;
		padding-bottom: 150px;

		.container {
			width: 95%;
		}

		.post {
			position: relative;
			top: 0px;
			-webkit-transition: top 0.5s; /* For Safari 3.1 to 6.0 */
    	transition: top 0.5s;
		}

		.post:hover {
			top: -20px;
			-webkit-transition: top 0.5s; /* For Safari 3.1 to 6.0 */
    	transition: top 0.5s;
		}

		.title {
			position: absolute;
			padding: 15px;
			margin: 0px;
			top: 71px;
			left: 0px;
			font-family: 'Lato', serif;
			font-weight: 700;
			font-size: 1.3em;
			color: white;
			background-color: #4f4d4f;
		}

		.group-control {
			position: absolute;
			top: 85px;
			right: 0px;

			.btn-control {
				position: relative;
				background-color: #4f4d4f;
				color: #8e8d91;
				padding: 15px;
				padding-right: 40px;

				.fa-chevron-left {
					position: absolute;
					top: 10px;
					font-size: 2em;
				}

				.fa-chevron-right {
					position: absolute;
					top: 10px;
					left: 18px;
					font-size: 2em;
				}
			}

			.btn-control:hover {
				background-color: #69686c;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	    	transition: 0.8s;
			}
		}

		.caption {
			padding: 30px;
			height: 120px;
			margin-bottom: 3px;
			background-color: #fff;
			background-color: #fff;
			-webkit-box-shadow: 0 3px 0 0 rgba(234,234,234,1);
			-moz-box-shadow: 0 3px 0 0 rgba(234,234,234,1);
			box-shadow: 0 3px 0 0 rgba(234,234,234,1);


			.title-post {
				text-decoration: none;
				font-family: 'Lato', serif;
				font-size: 1.2em;
				font-weight: 900;
				color: #ed6d58;
			}

			.content {
				font-family: 'PT Serif', serif;
				font-size: 1em;
				font-weight: 700;
				color: #777777;
			}
		}

		.btn-muffin {
			margin-top: 90px;
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#blog {
		margin-top: -70px;
		position: relative;
		background-color: #f3f3f3;
		padding-top: 170px;
		padding-bottom: 80px;

		.container {
			width: 100%;
		}

		.post {
			position: relative;
		}

		#posts {
			padding: 0px;
		}

		.title {
			position: absolute;
			padding: 15px;
			margin: 0px;
			top: 70px;
			left: 0px;
			font-family: 'Lato', serif;
			font-weight: 700;
			font-size: 1.1em;
			color: white;
			background-color: #4f4d4f;
		}

		.group-control {
			position: absolute;
			top: 84px;
			right: 0px;

			.btn-control {
				position: relative;
				background-color: #4f4d4f;
				color: #8e8d91;
				padding: 15px;
				padding-right: 40px;

				.fa-chevron-left {
					position: absolute;
					top: 10px;
					font-size: 2em;
				}

				.fa-chevron-right {
					position: absolute;
					top: 10px;
					left: 18px;
					font-size: 2em;
				}
			}

			.btn-control:hover {
				background-color: #69686c;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	    	transition: 0.8s;
			}
		}

		.caption {
			padding: 10px;
			margin-bottom: 3px;
			background-color: #fff;
			background-color: #fff;
			-webkit-box-shadow: 0 3px 0 0 rgba(234,234,234,1);
			-moz-box-shadow: 0 3px 0 0 rgba(234,234,234,1);
			box-shadow: 0 3px 0 0 rgba(234,234,234,1);


			.title-post {
				text-decoration: none;
				font-family: 'Lato', serif;
				font-size: 1em;
				font-weight: 900;
				color: #ed6d58;
			}

			.content {
				margin-top: 4px;
				font-family: 'PT Serif', serif;
				font-size: 0.8em;
				font-weight: 700;
				color: #777777;
			}
		}

		.btn-muffin {
			margin-top: 75px;
		}
	}
}

/*phone*/
@media(max-width:767px) {
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#blog {
		margin-top: -70px;
		position: relative;
		background-color: #f3f3f3;
		padding-top: 170px;
		padding-bottom: 80px;

		.container {
			width: 100%;
		}

		.post {
			position: relative;
		}

		#posts {
			padding: 0px;
		}

		.title {
			position: absolute;
			padding: 15px;
			margin: 0px;
			top: 70px;
			left: 0px;
			font-family: 'Lato', serif;
			font-weight: 700;
			font-size: 1.1em;
			color: white;
			background-color: #4f4d4f;
		}

		.group-control {
			position: absolute;
			top: 84px;
			right: 0px;

			.btn-control {
				position: relative;
				background-color: #4f4d4f;
				color: #8e8d91;
				padding: 15px;
				padding-right: 40px;

				.fa-chevron-left {
					position: absolute;
					top: 10px;
					font-size: 2em;
				}

				.fa-chevron-right {
					position: absolute;
					top: 10px;
					left: 18px;
					font-size: 2em;
				}
			}

			.btn-control:hover {
				background-color: #69686c;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	    	transition: 0.8s;
			}
		}

		.caption {
			padding: 10px;
			margin-bottom: 3px;
			background-color: #fff;
			background-color: #fff;
			-webkit-box-shadow: 0 3px 0 0 rgba(234,234,234,1);
			-moz-box-shadow: 0 3px 0 0 rgba(234,234,234,1);
			box-shadow: 0 3px 0 0 rgba(234,234,234,1);


			.title-post {
				text-decoration: none;
				font-family: 'Lato', serif;
				font-size: 1em;
				font-weight: 900;
				color: #ed6d58;
			}

			.content {
				margin-top: 4px;
				font-family: 'PT Serif', serif;
				font-size: 0.8em;
				font-weight: 700;
				color: #777777;
			}
		}

		.btn-muffin {
			margin-top: 75px;
		}
	}
}
