#clients {
	padding-top: 80px;
	margin-bottom: 100px;

	.title-general{
		text-align: center;
	}

	.title-hr{
		border-color: #ed6d58;
	}

	.row{
		padding-left: 190px;
		padding-right: 190px;
		/*phone*/
		@media(max-width:767px) {
			padding-left: 70px;
			padding-right: 70px;
		}
	}

	.client-item{
		padding: 0px 30px;
	}

	.control-carousel-client-left{
		position: absolute;
		top: 35%;
		left: 0;
		background-color: #4f4d4f;
    color: #8e8d91;
    padding: 12px 20px 10px 12px;
    webkit-transition: 0.8s;
    transition: 0.8s;

    .fa{
    	font-size: 2em;
    }
	}

	.control-carousel-client-right{
		position: absolute;
		top: 35%;
		right: 0;
		background-color: #4f4d4f;
    color: #8e8d91;
    padding: 15px;
    padding: 12px 12px 10px 20px;
    webkit-transition: 0.8s;
    transition: 0.8s;

    .fa{
    	font-size: 2em;
    }
	}

	.controls-clients:hover{
		background-color: #69686c;
    webkit-transition: 0.8s;
    transition: 0.8s;
	}
}
