/*large desktop*/
@media(min-width:1200px) {
	#contact_us {
		padding-top: 55px;

		.contact-row {
			background-color: #333333;
			margin: 0px;
		}
		
		form {
			padding-top: 70px;
			padding-left: 90px;
			padding-right: 90px;
			padding-bottom: 70px;
			position: relative;
			opacity: 0;
			top: 50px;
		}

		.effect_form {
			opacity: 1 !important;
			top: 0px !important;
			-webkit-animation: effect-bottom 1.2s;
			animation: effect-bottom 1.2s;
		}

		input {
			font-family: 'PT Serif', serif;
			height: 80px !important;
			border: none;
			font-size: 1.7em;
			border-top: 2px solid #d7d7d7;
			background-color: #f3f3f3;
			height: 60px;
			border-radius: 0;
			margin-bottom: 0px;
			box-shadow: none;
			color: #777777;
			font-weight: 700;
		} 

		textarea { 
			font-family: 'PT Serif', serif;
			border: none;
			font-size: 1.7em;
			border-top: 2px solid #d7d7d7;
			background-color: #f3f3f3;
			min-height: 140px;
			margin-bottom: 0px;
			resize: none;
			border-radius: 0;
			box-shadow: none;
			color: #777777;
			font-weight: 700;
		}

		#recaptcha_widget {
			position: relative;
			#recaptcha_image {
				padding-top: 13px;
				img {
					position: relative;
					left: 0px;
					top: 5px;
					width: 280px;
					margin: 0px;
					height: 50px;
					opacity: .5;
				}
			}
		}

		.input-group-btn {
			button {
				height: 50px;
				font-size: 20px;
				background-color: transparent;
				color: #777777;
				border-color: rgba(255,255,255,.1);
				border-left: none;
				box-shadow: none;
			}
		}

		.btn-muffin {
			background: transparent;
			margin-top: 40px;
			font-size: 1.3em !important;
			border-width: 5px;
			border-color: #333333;
			font-weight: 900;
			color: #333333;
			padding-left: 20px;
			padding-right: 20px; 
			border-radius: 50px;

			i {
				margin-left: 10px;
			}
		}

		.btn-muffin:hover {
			background: #333333;
			color: white;
			i {
				color: white;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	    	transition: 0.8s;
			}
			webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	    transition: 0.8s;
		}

		.contact-info {
			padding-top: 70px;
			padding-bottom: 70px;
			padding-left: 25px;
			position: relative;
			opacity: 0;
			top: -50px;
			 
			h1 {
				font-family: 'Lato', serif;
			} 

			hr {
				margin-bottom: 25px;
			}

			p {
				font-family: 'Lato', serif;
				color: #777777;
				font-size: 1.5em;
				font-weight: 900;
			}
		}

		.effect_info {
			opacity: 1 !important;
			top: 0px !important;
			-webkit-animation: effect-bottom 1.2s;
			animation: effect-bottom 1.2s;
		}

	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	#contact_us {
		padding-top: 55px;

		.contact-row {
			background-color: #333333;
			margin: 0px;
		}
		
		form {
			padding-top: 70px;
			padding-left: 70px;
			padding-right: 70px;
			padding-bottom: 70px;
			position: relative;
			opacity: 0;
			top: 50px;
		}

		.effect_form {
			opacity: 1 !important;
			top: 0px !important;
			-webkit-animation: effect-bottom 1.2s;
			animation: effect-bottom 1.2s;
		}

		input {
			font-family: 'PT Serif', serif;
			height: 80px !important;
			border: none;
			font-size: 1.7em;
			border-top: 2px solid #d7d7d7;
			background-color: #f3f3f3;
			height: 60px;
			border-radius: 0;
			margin-bottom: 0px;
			box-shadow: none;
			color: #777777;
			font-weight: 700;
		} 

		textarea { 
			font-family: 'PT Serif', serif;
			border: none;
			font-size: 1.7em;
			border-top: 2px solid #d7d7d7;
			background-color: #f3f3f3;
			min-height: 140px;
			margin-bottom: 0px;
			resize: none;
			border-radius: 0;
			box-shadow: none;
			color: #777777;
			font-weight: 700;
		}

		#recaptcha_widget {
			position: relative;
			#recaptcha_image {
				padding-top: 13px;
				img {
					position: relative;
					left: 0px;
					top: 5px;
					width: 280px;
					margin: 0px;
					height: 50px;
					opacity: .5;
				}
			}
		}

		.input-group-btn {
			button {
				height: 50px;
				font-size: 20px;
				background-color: transparent;
				color: #777777;
				border-color: rgba(255,255,255,.1);
				border-left: none;
				box-shadow: none;
			}
		}

		.btn-muffin {
			background: transparent;
			margin-top: 40px;
			font-size: 1.3em !important;
			border-width: 5px;
			border-color: #333333;
			font-weight: 900;
			color: #333333;
			padding-left: 20px;
			padding-right: 20px; 
			border-radius: 50px;

			i {
				margin-left: 10px;
			}
		}

		.btn-muffin:hover {
			background: #333333;
			color: white;
			i {
				color: white;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	    	transition: 0.8s;
			}
			webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	    transition: 0.8s;
		}

		.contact-info {
			padding-top: 70px;
			padding-bottom: 70px;
			padding-left: 25px;
			position: relative;
			opacity: 0;
			top: -50px;
			 
			h1 {
				font-family: 'Lato', serif;
			} 

			hr {
				margin-bottom: 25px;
			}

			p {
				font-family: 'Lato', serif;
				color: #777777;
				font-size: 1.5em;
				font-weight: 900;
			}
		}

		.effect_info {
			opacity: 1 !important;
			top: 0px !important;
			-webkit-animation: effect-bottom 1.2s;
			animation: effect-bottom 1.2s;
		}

	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#contact_us {
		padding-top: 55px;

		.contact-row {
			background-color: #333333;
			margin: 0px;
		}
		
		form {
			padding-top: 70px;
			padding-bottom: 70px;
			position: relative;
			opacity: 0;
			top: 50px;
		}

		.effect_form {
			opacity: 1 !important;
			top: 0px !important;
			-webkit-animation: effect-bottom 1.2s;
			animation: effect-bottom 1.2s;
		}

		input {
			font-family: 'PT Serif', serif;
			height: 80px !important;
			border: none;
			font-size: 1.7em;
			border-top: 2px solid #d7d7d7;
			background-color: #f3f3f3;
			height: 60px;
			border-radius: 0;
			margin-bottom: 0px;
			box-shadow: none;
			color: #777777;
			font-weight: 700;
		} 

		textarea { 
			font-family: 'PT Serif', serif;
			border: none;
			font-size: 1.7em;
			border-top: 2px solid #d7d7d7;
			background-color: #f3f3f3;
			min-height: 140px;
			margin-bottom: 0px;
			resize: none;
			border-radius: 0;
			box-shadow: none;
			color: #777777;
			font-weight: 700;
		}

		#recaptcha_widget {
			position: relative;
			#recaptcha_image {
				padding-top: 13px;
				img {
					position: relative;
					left: 0px;
					top: 5px;
					width: 280px;
					margin: 0px;
					height: 50px;
					opacity: .5;
				}
			}
		}

		.input-group-btn {
			button {
				height: 50px;
				font-size: 20px;
				background-color: transparent;
				color: #777777;
				border-color: rgba(255,255,255,.1);
				border-left: none;
				box-shadow: none;
			}
		}

		.btn-muffin {
			background: transparent;
			margin-top: 40px;
			font-size: 1.3em !important;
			border-width: 5px;
			border-color: #333333;
			font-weight: 900;
			color: #333333;
			padding-left: 20px;
			padding-right: 20px; 
			border-radius: 50px;

			i {
				margin-left: 10px;
			}
		}

		.btn-muffin:hover {
			background: #333333;
			color: white;
			i {
				color: white;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	    	transition: 0.8s;
			}
			webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	    transition: 0.8s;
		}

		.contact-info {
			padding-top: 70px;
			padding-bottom: 70px;
			padding-left: 25px;
			position: relative;
			opacity: 0;
			top: -50px;
			 
			h1 {
				font-family: 'Lato', serif;
			} 

			hr {
				margin-bottom: 25px;
			}

			p {
				font-family: 'Lato', serif;
				color: #777777;
				font-size: 1.5em;
				font-weight: 900;
			}
		}

		.effect_info {
			opacity: 1 !important;
			top: 0px !important;
			-webkit-animation: effect-bottom 1.2s;
			animation: effect-bottom 1.2s;
		}

	}
}

/*phone*/
@media(max-width:767px) {
	#contact_us {
		.contact-row {
			background-color: #333333;
			margin: 0px;
		}
		
		form {;
			position: relative;
			opacity: 1;
			padding-top: 80px;
		}

		input {
			font-family: 'PT Serif', serif;
			height: 80px !important;
			border: none;
			font-size: 1.7em;
			border-top: 2px solid #d7d7d7;
			background-color: #f3f3f3;
			height: 60px;
			border-radius: 0;
			margin-bottom: 0px;
			box-shadow: none;
			color: #777777;
			font-weight: 700;
		} 

		textarea { 
			font-family: 'PT Serif', serif;
			border: none;
			font-size: 1.7em;
			border-top: 2px solid #d7d7d7;
			background-color: #f3f3f3;
			min-height: 140px;
			margin-bottom: 0px;
			resize: none;
			border-radius: 0;
			box-shadow: none;
			color: #777777;
			font-weight: 700;
		}

		#recaptcha_widget {
			position: relative;
			#recaptcha_image {
				padding-top: 13px;
				img {
					position: relative;
					left: 0px;
					top: 5px;
					width: 280px;
					margin: 0px;
					height: 50px;
					opacity: .5;
				}
			}
		}

		.input-group-btn {
			button {
				height: 50px;
				font-size: 20px;
				background-color: transparent;
				color: #777777;
				border-color: rgba(255,255,255,.1);
				border-left: none;
				box-shadow: none;
			}
		}

		.btn-muffin {
			background: transparent;
			margin: 4em auto;
			margin-top: 40px;
			font-size: 1.3em !important;
			border-width: 5px;
			border-color: #333333;
			font-weight: 900;
			color: #333333;
			padding-left: 20px;
			padding-right: 20px; 
			border-radius: 50px;


			i {
				margin-left: 10px;
			}
		}

		.btn-muffin:hover {
			background: #333333;
			color: white;
			i {
				color: white;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	    	transition: 0.8s;
			}
			webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	    transition: 0.8s;
		}

		.contact-info {
			padding-top: 100px;
			padding-bottom: 20px;
			padding-left: 25px;
			position: relative;
			opacity: 1;
			top: -50px;
			 
			h1 {
				font-family: 'Lato', serif;
			} 

			hr {
				margin-bottom: 25px;
			}

			p {
				font-family: 'Lato', serif;
				color: #777777;
				font-size: 1.5em;
				font-weight: 900;
			}
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#contact_us {
		.contact-row {
			background-color: #333333;
			margin: 0px;
		}
		
		form {;
			position: relative;
			opacity: 1;
			padding-top: 0px;
			padding-top: 80px;
		}

		input {
			font-family: 'PT Serif', serif;
			height: 80px !important;
			border: none;
			font-size: 1.7em;
			border-top: 2px solid #d7d7d7;
			background-color: #f3f3f3;
			height: 60px;
			border-radius: 0;
			margin-bottom: 0px;
			box-shadow: none;
			color: #777777;
			font-weight: 700;
		} 

		textarea { 
			font-family: 'PT Serif', serif;
			border: none;
			font-size: 1.7em;
			border-top: 2px solid #d7d7d7;
			background-color: #f3f3f3;
			min-height: 140px;
			margin-bottom: 0px;
			resize: none;
			border-radius: 0;
			box-shadow: none;
			color: #777777;
			font-weight: 700;
		}

		#recaptcha_widget {
			position: relative;
			#recaptcha_image {
				padding-top: 13px;
				img {
					position: relative;
					left: 0px;
					top: 5px;
					width: 280px;
					margin: 0px;
					height: 50px;
					opacity: .5;
				}
			}
		}

		.input-group-btn {
			button {
				height: 50px;
				font-size: 20px;
				background-color: transparent;
				color: #777777;
				border-color: rgba(255,255,255,.1);
				border-left: none;
				box-shadow: none;
			}
		}

		.btn-muffin {
			background: transparent;
			margin: 4em auto;
			margin-top: 40px;
			font-size: 1.3em !important;
			border-width: 5px;
			border-color: #333333;
			font-weight: 900;
			color: #333333;
			padding-left: 20px;
			padding-right: 20px; 
			border-radius: 50px;


			i {
				margin-left: 10px;
			}
		}

		.btn-muffin:hover {
			background: #333333;
			color: white;
			i {
				color: white;
				webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	    	transition: 0.8s;
			}
			webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	    transition: 0.8s;
		}

		.contact-info {
			padding-top: 100px;
			padding-bottom: 20px;
			padding-left: 25px;
			position: relative;
			opacity: 1;
			top: -50px;
			 
			h1 {
				font-family: 'Lato', serif;
			} 

			hr {
				margin-bottom: 25px;
			}

			p {
				font-family: 'Lato', serif;
				color: #777777;
				font-size: 1.5em;
				font-weight: 900;
			}
		}
	}
}