/*large desktop*/
@media(min-width:1200px) {
	#downloads {
		padding-top: 170px;
		background-color: #ffffff;
		
		.container#container-downloads {
			width: 60%;
			position: relative;
			opacity: 0;
			top: 50px;
		}

		.effect_downloads {
			opacity: 1 !important;
			top: 0px !important;
			-webkit-animation: effect-bottom 1.2s;
			animation: effect-bottom 1.2s;
		}

		hr{
			border-color: #ed6d58;
		}

		h1{
			color:#ed6d58; 
			text-align:center;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
		}

		.title-download{
			color:#777777;
			font-size: 61px;
			letter-spacing: -3px; 
			text-align:center;
			font-family: "PT Serif";
			font-weight: 700;
			span{
				color: #ed6d58;
			}
		}

		.section-download{
			margin-top: 70px;
			margin-bottom: 85px;

			img {
				width: 150px;
			}
		}

		.all-download{
			width: 100%;	
			margin: 0px;	

			.item-download{
				padding: 0px;
			}			

			.item{		
				overflow: hidden;

				#imprimibles{
					background-image: url("portafolio/imprimibles.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				#wallpapers{
					background-image: url("portafolio/wallpapers.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}
				
				
				.mask-download{
					position: absolute;
					top: 0;
					background:rgba(0, 0, 0, 0);
					height: 480px;
					width: 100%;
					padding: 10px;					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;

					.title-item{
						position: absolute;
						top: 320px;
						left: 61px;
						opacity: 0;	
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;			
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-family: "PT Serif";
							font-weight: 700;
							font-size: 30px;
						}
					}
				}
			}

			.item:hover{
				overflow: hidden;
				.image{
					-ms-transform: scale(1.1,1.1); /* IE 9 */
				    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
				    transform: scale(1.1,1.1);
				    -moz-transition: all 10s ease 0s;
					-o-transition: all 10s ease 0s;
					-webkit-transition: all 1s ease 0s;
					-ms-transition: all 10s ease 0s;
				}

				.mask-download{
					background:rgba(0, 0, 0, 0.68);					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;
					.title-item{
						position: absolute;
						top: 320px;
						left: 61px;
						opacity: 1;							
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;				
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-weight: 700;
							font-size: 30px;
						}
					}
				}
			}
		}
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	#downloads {
		padding-top: 170px;
		background-color: #ffffff;
		
		.container#container-downloads {
			width: 80%;
			position: relative;
			opacity: 0;
			top: 50px;
		}

		.effect_downloads {
			opacity: 1 !important;
			top: 0px !important;
			-webkit-animation: effect-bottom 1.2s;
			animation: effect-bottom 1.2s;
		}

		hr{
			border-color: #ed6d58;
		}

		h1{
			color:#ed6d58; 
			text-align:center;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
		}

		.title-download{
			color:#777777;
			font-size: 61px;
			letter-spacing: -3px; 
			text-align:center;
			font-family: "PT Serif";
			font-weight: 700;
			span{
				color: #ed6d58;
			}
		}

		.section-download{
			margin-top: 70px;
			margin-bottom: 85px;

			img {
				width: 150px;
			}
		}

		.all-download{
			width: 100%;	
			margin: 0px;	

			.item-download{
				padding: 0px;
			}			

			.item{		
				overflow: hidden;

				#imprimibles{
					background-image: url("portafolio/imprimibles.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				#wallpapers{
					background-image: url("portafolio/wallpapers.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}
				
				
				.mask-download{
					position: absolute;
					top: 0;
					background:rgba(0, 0, 0, 0);
					height: 480px;
					width: 100%;
					padding: 10px;					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;

					.title-item{
						position: absolute;
						top: 320px;
						left: 61px;
						opacity: 0;	
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;			
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-family: "PT Serif";
							font-weight: 700;
							font-size: 30px;
						}
					}
				}
			}

			.item:hover{
				overflow: hidden;
				.image{
					-ms-transform: scale(1.1,1.1); /* IE 9 */
				    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
				    transform: scale(1.1,1.1);
				    -moz-transition: all 10s ease 0s;
					-o-transition: all 10s ease 0s;
					-webkit-transition: all 1s ease 0s;
					-ms-transition: all 10s ease 0s;
				}

				.mask-download{
					background:rgba(0, 0, 0, 0.68);					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;
					.title-item{
						position: absolute;
						top: 320px;
						left: 61px;
						opacity: 1;							
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;				
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-weight: 700;
							font-size: 30px;
						}
					}
				}
			}
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#downloads {
		padding-top: 170px;
		background-color: #ffffff;
		
		.container#container-downloads {
			width: 90%;
			position: relative;
			opacity: 0;
			top: 50px;
		}

		.effect_downloads {
			opacity: 1 !important;
			top: 0px !important;
			-webkit-animation: effect-bottom 1.2s;
			animation: effect-bottom 1.2s;
		}

		hr{
			border-color: #ed6d58;
		}

		h1{
			color:#ed6d58; 
			text-align:center;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
		}

		.title-download{
			color:#777777;
			font-size: 61px;
			letter-spacing: -3px; 
			text-align:center;
			font-family: "PT Serif";
			font-weight: 700;
			span{
				color: #ed6d58;
			}
		}

		.section-download{
			margin-top: 70px;
			margin-bottom: 85px;

			img {
				width: 150px;
			}
		}

		.all-download{
			width: 100%;	
			margin: 0px;	

			.item-download{
				padding: 0px;
			}			

			.item{		
				overflow: hidden;

				#imprimibles{
					background-image: url("portafolio/imprimibles.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				#wallpapers{
					background-image: url("portafolio/wallpapers.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}
				
				
				.mask-download{
					position: absolute;
					top: 0;
					background:rgba(0, 0, 0, 0);
					height: 480px;
					width: 100%;
					padding: 10px;					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;

					.title-item{
						position: absolute;
						top: 320px;
						left: 61px;
						opacity: 0;	
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;			
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-family: "PT Serif";
							font-weight: 700;
							font-size: 30px;
						}
					}
				}
			}

			.item:hover{
				overflow: hidden;
				.image{
					-ms-transform: scale(1.1,1.1); /* IE 9 */
				    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
				    transform: scale(1.1,1.1);
				    -moz-transition: all 10s ease 0s;
					-o-transition: all 10s ease 0s;
					-webkit-transition: all 1s ease 0s;
					-ms-transition: all 10s ease 0s;
				}

				.mask-download{
					background:rgba(0, 0, 0, 0.68);					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;
					.title-item{
						position: absolute;
						top: 320px;
						left: 61px;
						opacity: 1;							
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;				
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-weight: 700;
							font-size: 30px;
						}
					}
				}
			}
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#downloads {
		padding-top: 70px;
		background-color: #ffffff;
		
		.container#container-downloads {
			width: 90%;
			position: relative;
			opacity: 1;
		}

		hr{
			border-color: #ed6d58;
		}

		h1{
			color:#ed6d58; 
			text-align:center;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
		}

		.title-download{
			color:#777777;
			font-size: 34px;
			letter-spacing: 0px; 
			text-align:center;
			font-family: "PT Serif";
			font-weight: 700;
			span{
				color: #ed6d58;
			}
		}

		.title-hr {
			margin-bottom: 30px;
		}

		.section-download{
			margin-top: 30px;
			margin-bottom: 50px;

			img {
				width: 150px;
			}
		}

		.all-download{
			width: 100%;	
			margin: 0px;	

			.item-download{
				padding: 0px;
			}			

			.item{		
				margin-top: 10px;
				overflow: hidden;

				#imprimibles{
					background-image: url("portafolio/imprimibles.jpg");
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;
				}

				#wallpapers{
					background-image: url("portafolio/wallpapers.jpg");
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;;
				}
				
				
				.mask-download{
					position: absolute;
					top: 0;
					opacity: 1;
					background: rgba(61, 61, 61, 0.68);
					height: 380px;
					width: 100%;
					padding: 10px;					

					.title-item{
						position: absolute;
						top: 220px;
						left: 61px;
						opacity: 1;	;			
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 70px;
							color: #ffffff;
							font-family: "PT Serif";
							font-weight: 700;
							font-size: 24px;
						}
					}
				}
			}			
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#downloads {
		padding-top: 70px;
		background-color: #ffffff;
		
		.container#container-downloads {
			width: 90%;
			position: relative;
			opacity: 1;
		}

		hr{
			border-color: #ed6d58;
		}

		h1{
			color:#ed6d58; 
			text-align:center;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
		}

		.title-download{
			color:#777777;
			font-size: 34px;
			letter-spacing: 0px; 
			text-align:center;
			font-family: "PT Serif";
			font-weight: 700;
			span{
				color: #ed6d58;
			}
		}

		.title-hr {
			margin-bottom: 30px;
		}

		.section-download{
			margin-top: 30px;
			margin-bottom: 50px;

			img {
				width: 150px;
			}
		}

		.all-download{
			width: 100%;	
			margin: 0px;	

			.item-download{
				padding: 0px;
			}			

			.item{		
				overflow: hidden;

				#imprimibles{
					background-image: url("portafolio/imprimibles.jpg");
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;
				}

				#wallpapers{
					background-image: url("portafolio/wallpapers.jpg");
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;;
				}
				
				
				.mask-download{
					position: absolute;
					top: 0;
					opacity: 1;
					background:rgba(0, 0, 0, 0.68);	
					height: 380px;
					width: 100%;
					padding: 10px;					

					.title-item{
						position: absolute;
						top: 220px;
						left: 61px;
						opacity: 1;	;			
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 70px;
							color: #ffffff;
							font-family: "PT Serif";
							font-weight: 700;
							font-size: 24px;
						}
					}
				}
			}			
		}
	}
}



