/*large desktop*/
@media(min-width:1200px) {
	#footer {
		padding-top: 50px;
		padding-bottom: 0px;
		font-family: 'Lato', serif;
		background-color: white;
		
		h2 {
			font-size: 1.5em;
			font-weight: 700;
		}

		img {
			width: 220px;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.muffin {
			float: left;
		}

		h3 {
			font-size: 1.9em;
			display: inline-block;
			font-family: 'Lato', serif; 
			font-weight:300; 
		}

		.slice{
			margin-top: 70px;
		}

		.copyright {
			float: right;
		}

		.content {
			padding-top: 0px;
			h1 {
				font-family: 'Vollkorn', serif;
				font-weight: 700;
				font-size: 2.5em;
				text-align: right;
			}

			h2 {
				font-family: 'Vollkorn', serif;
				margin-top: 5px;
				text-align: right;
				font-size: 2.3em;
				font-weight: 400;
			}
		}
	}
}

/*media desktop*/
@media (min-width: 992px) and (max-width: 1199px) {
	#footer {
		padding-top: 50px;
		padding-bottom: 0px;
		font-family: 'Lato', serif;
		background-color: white;
		
		h2 {
			font-size: 1.5em;
			font-weight: 700;
		}

		img {
			width: 220px;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.muffin {
			float: left;
		}

		h3 {
			font-size: 1.9em;
			display: inline-block;
			font-family: 'Lato', serif; 
			font-weight:300; 
		}

		.slice{
			margin-top: 70px;
		}

		.copyright {
			float: right;
		}

		.content {
			padding-top: 0px;
			h1 {
				font-family: 'Vollkorn', serif;
				font-weight: 700;
				font-size: 2.5em;
				text-align: right;
			}

			h2 {
				font-family: 'Vollkorn', serif;
				margin-top: 5px;
				text-align: right;
				font-size: 2.3em;
				font-weight: 400;
			}
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#footer {
		padding-top: 50px;
		padding-bottom: 0px;
		font-family: 'Lato', serif;
		background-color: white;
		
		h2 {
			font-size: 1.5em;
			font-weight: 700;
		}

		img {
			width: 220px;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		h3 {
			font-size: 1.9em;
			display: inline-block;
			font-family: 'Lato', serif; 
			font-weight:300; 
		}

		.slice{
			margin-top: 70px;
		}

		.content {
			padding-top: 0px;
			h1 {
				font-family: 'Vollkorn', serif;
				font-weight: 700;
				font-size: 2.5em;
				text-align: right;
			}

			h2 {
				font-family: 'Vollkorn', serif;
				margin-top: 5px;
				text-align: right;
				font-size: 2.3em;
				font-weight: 400;
			}
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#footer {
		padding-top: 50px;
		padding-bottom: 0px;
		font-family: 'Lato', serif;
		background-color: white;
		
		h2 {
			font-size: 1.5em;
			font-weight: 700;
		}

		img {
			width: 220px;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.muffin {
		}

		h3 {
			margin-top: 10px;
			font-size: 1.9em;
			display: inline-block;
			font-family: 'Lato', serif; 
			font-weight:300; 
		}

		.slice{
			margin-top: 0px;
		}

		.copyright {
		}

		.content {
			padding-top: 0px;
			h1 {
				font-family: 'Vollkorn', serif;
				font-weight: 700;
				font-size: 2.5em;
				text-align: right;
			}

			h2 {
				font-family: 'Vollkorn', serif;
				margin-top: 5px;
				text-align: right;
				font-size: 2.3em;
				font-weight: 400;
			}
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#footer {
		
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#footer {
		padding-top: 50px;
		padding-bottom: 0px;
		font-family: 'Lato', serif;
		background-color: white;
		
		h2 {
			font-size: 1.5em;
			font-weight: 700;
		}

		img {
			width: 220px;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		.muffin {
		}

		h3 {
			margin-top: 10px;
			font-size: 1.9em;
			display: inline-block;
			font-family: 'Lato', serif; 
			font-weight:300; 
		}

		.slice{
			margin-top: 0px;
		}

		.copyright {
		}

		.content {
			padding-top: 0px;
			h1 {
				font-family: 'Vollkorn', serif;
				font-weight: 700;
				font-size: 2.5em;
				text-align: right;
			}

			h2 {
				font-family: 'Vollkorn', serif;
				margin-top: 5px;
				text-align: right;
				font-size: 2.3em;
				font-weight: 400;
			}
		}
	}
}

