html, body {
	height: 100%;
	::-webkit-scrollbar
	{
	  width: 12px;  /* for vertical scrollbars */
	  height: 12px; /* for horizontal scrollbars */
	}

	::-webkit-scrollbar-track
	{
	  background: rgba(0, 0, 0, 0.5);
	}

	::-webkit-scrollbar-thumb
	{
	  background: #333333;
	}
}

body {
	font-family: 'Lato', sans-serif;
	overflow: hidden;
}

h1, h2, h3 {
	font-weight: 900;
	font-size: 2em;
}


hr {
	margin-top: 33px;
	width: 30px;
	border-top-width: 6px;
	margin-bottom: 50px;
}

.title-general {
  font-size: 1.6em;
}


.load-fixed {
	background-color: #333333;
	z-index: 100000;
	height: 100%;
	width: 100%;

	.responsive-container {
    position: relative;
    width: 100%;
    height: 100%;
	}

	.centered {
	    padding-top: 100%; /* forces 1:1 aspect ratio */
	}

	.img-container {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;

	    text-align:center; /* Align center inline elements */
	}

	.img-container:before {
	    content: ' ';
	    display: inline-block;
	    vertical-align: middle;
	    height: 100%;
	}

	.img-container img {
			width: 50px;
	    vertical-align: middle;
	    display: inline-block;
    	-webkit-animation: load .8s ease-in-out infinite;
    	animation: load .8s ease-in-out infinite;
	}
}

.button-shared {
	display: none;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 75px;
	height: 75px;
	z-index: 1;
	background-color: #333333;
	cursor: pointer;

	img {
		position: absolute;
		width: 25px;
		right: 25px;
		top: 25px;
	}
	-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
}

.button-shared:hover {
	background-color: #4f4d4f;
	-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
}

.btn-muffin {
	font-size: 1.4em !important;
	background: transparent;
	border-width: 5px;
	border-color: #ed6d58;
	font-weight: 900;
	color: #ed6d58;
	padding-left: 30px;
	padding-right: 30px; 
	border-radius: 50px;

	i {
		margin-left: 15px;
	}
}

.btn-muffin:hover {
	background: #ed6d58;
	border-color: #ed6d58;
	color: white;
	i {
		color: white;
		webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
		transition: 0.8s;
	}
	webkit-transition: 0.8s; /* For Safari 3.1 to 6.0 */
	transition: 0.8s;
}

.alert{
	border-radius: 0px;
	position: fixed;
	z-index: 999;
	width: 400px;
	bottom: 60px;
	right: 10px;
}

.alert-success{
	background: #ed6d58;
	color: white;
	border: 1px #ed6d58 solid;
	font-weight: bold;
}

.alert-danger{
	background: #ed6d58;
	color: #333333;
	border: 1px #ed6d58 solid;
	font-weight: bold;
}

/*keyframes*/
@-webkit-keyframes load {
	0% {
		opacity: 1;
	  transform: scale(0.1);
    -webkit-transform: scale(0.1);
	}

	25% {

	}

	50% {

	}

	100% {
		opacity: 0;
	  transform: scale(1.8);
    -webkit-transform: scale(1.8);
	}
}

@keyframes load {
	0% {
		opacity: 1;
	  transform: scale(1.0);
    -webkit-transform: scale(1.0);
	}

	100% {
		opacity: 0;
	  transform: scale(1.8);
    -webkit-transform: scale(1.8);
	}
}

/*keyframes*/
@-webkit-keyframes effect-bottom {
	0% {
	  opacity: 0;
	  top: 50px;
	}

	100% {
	  opacity: 1;
	  top: 0px;
	}
}

@keyframes effect-bottom {
	0% {
	  opacity: 0;
	  top: 50px;
	}

	100% {
	  opacity: 1;
	  top: 0px;
	}
}

@-webkit-keyframes effect-bottom {
	0% {
	  opacity: 0;
	  top: 50px;
	}

	100% {
	  opacity: 1;
	  top: 0px;
	}
}

@keyframes effect-bottom {
	0% {
	  opacity: 0;
	  top: 50px;
	}

	100% {
	  opacity: 1;
	  top: 0px;
	}
}
