/*large desktop*/
@media(min-width:1200px) {
	#home {
		height: 100%;

		#div-1 {
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			padding-top: 50px;
			background: image-url("frontend/home/bg-1.jpg") no-repeat;
			background-position: center center;
			background-size: cover;
			color: white;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
	    transition: 3s;
		}

		#div-2 {
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			padding-top: 50px;
			background: image-url("frontend/home/bg-2.jpg") no-repeat;
			background-position: center center;
			background-size: cover;
			color: white;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
	    transition: 3s;
		}

		#div-3 {
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			padding-top: 50px;
			background: image-url("frontend/home/bg-3.jpg") no-repeat;
			background-position: center center;
			background-size: cover;
			color: white;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
	    transition: 3s;
		}

		.active{ 
			opacity: 1 !important;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
	    transition: 3s;
		}

		.responsive-container {
			display: none;
	    position: relative;
	    width: 100%;
	    height: 100%;
	    overflow: hidden;
		}

		.centered {
		    padding-top: 100%; /* forces 1:1 aspect ratio */
		}

		.img-container {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;

		    text-align:center; /* Align center inline elements */
		    -webkit-animation: logo 1s;
	    	animation: logo 1s;
		}

		.img-container:before {
		    content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}

		.img-container img {
				width: 250px;
		    vertical-align: middle;
		    display: inline-block;
		}

		.scroll-down {
			position: absolute;
	    bottom: 20px;
	    left: 0;
	    right: 0;

	    text-align:center; /* Align center inline elements */
	    font: 0/0 a;
	    -webkit-animation: titles 2s;
	    animation: titles 2s;
		}

		.scroll-down:before {
		    content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}

		.scroll-down img {
				width: 50px;
		    vertical-align: middle;
		    display: inline-block;
		}

		.scroll-down:hover {
				opacity: 0.7;
				-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
	    	transition: 1s;
		}
		

		.titles {
		    position: absolute;
		    bottom: 28%;
		    margin-top: 100px;
		    height: 25px;
		    overflow: hidden;
		    left: 0;
		    right: 0;

		    text-align:center; /* Align center inline elements */
		    -webkit-animation: titles 2s;
	    	animation: titles 2s;
		}

		.titles:before {
		    content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}

		.titles ul {
			width: 250px;
	    vertical-align: middle;
	    display: inline-block;
	    color: white;
	    list-style: none;
	    padding: 0px;
	    
	    li {
	    	position: relative;
	    	font-weight: 900;
	    	font-size: 1.3em;
	    }
		}
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	#home {
		height: 100%;

		#div-1 {
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			padding-top: 50px;
			background: image-url("frontend/home/bg-1.jpg") no-repeat;
			background-position: center center;
			background-size: cover;
			color: white;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
	    transition: 3s;
		}

		#div-2 {
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			padding-top: 50px;
			background: image-url("frontend/home/bg-2.jpg") no-repeat;
			background-position: center center;
			background-size: cover;
			color: white;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
	    transition: 3s;
		}

		#div-3 {
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			padding-top: 50px;
			background: image-url("frontend/home/bg-3.jpg") no-repeat;
			background-position: center center;
			background-size: cover;
			color: white;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
	    transition: 3s;
		}

		.active{ 
			opacity: 1 !important;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
	    transition: 3s;
		}

		.responsive-container {
			display: none;
	    position: relative;
	    width: 100%;
	    height: 100%;
	    overflow: hidden;
		}

		.centered {
		    padding-top: 100%; /* forces 1:1 aspect ratio */
		}

		.img-container {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;

		    text-align:center; /* Align center inline elements */
		    -webkit-animation: logo 1s;
	    	animation: logo 1s;
		}

		.img-container:before {
		    content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}

		.img-container img {
				width: 250px;
		    vertical-align: middle;
		    display: inline-block;
		}

		.scroll-down {
			position: absolute;
	    bottom: 20px;
	    left: 0;
	    right: 0;

	    text-align:center; /* Align center inline elements */
	    font: 0/0 a;
	    -webkit-animation: titles 2s;
	    animation: titles 2s;
		}

		.scroll-down:before {
		    content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}

		.scroll-down img {
				width: 50px;
		    vertical-align: middle;
		    display: inline-block;
		}

		.scroll-down:hover {
				opacity: 0.7;
				-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
	    	transition: 1s;
		}
		

		.titles {
		    position: absolute;
		    bottom: 28%;
		    margin-top: 100px;
		    height: 25px;
		    overflow: hidden;
		    left: 0;
		    right: 0;

		    text-align:center; /* Align center inline elements */
		    -webkit-animation: titles 2s;
	    	animation: titles 2s;
		}

		.titles:before {
		    content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}

		.titles ul {
			width: 250px;
	    vertical-align: middle;
	    display: inline-block;
	    color: white;
	    list-style: none;
	    padding: 0px;
	    
	    li {
	    	position: relative;
	    	font-weight: 900;
	    	font-size: 1.3em;
	    }
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#home {
		height: 100%;

		#div-1 {
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			padding-top: 50px;
			background: image-url("frontend/home/bg-1.jpg") no-repeat;
			background-position: center center;
			background-size: cover;
			color: white;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
	    transition: 3s;
		}

		#div-2 {
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			padding-top: 50px;
			background: image-url("frontend/home/bg-2.jpg") no-repeat;
			background-position: center center;
			background-size: cover;
			color: white;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
	    transition: 3s;
		}

		#div-3 {
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 0;
			padding-top: 50px;
			background: image-url("frontend/home/bg-3.jpg") no-repeat;
			background-position: center center;
			background-size: cover;
			color: white;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
	    transition: 3s;
		}

		.active{ 
			opacity: 1 !important;
			-webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
	    transition: 3s;
		}

		.responsive-container {
			display: none;
	    position: relative;
	    width: 100%;
	    height: 100%;
	    overflow: hidden;
		}

		.centered {
		    padding-top: 100%; /* forces 1:1 aspect ratio */
		}

		.img-container {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;

		    text-align:center; /* Align center inline elements */
		    -webkit-animation: logo 1s;
	    	animation: logo 1s;
		}

		.img-container:before {
		    content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}

		.img-container img {
				width: 250px;
		    vertical-align: middle;
		    display: inline-block;
		}

		.scroll-down {
			position: absolute;
	    bottom: 20px;
	    left: 0;
	    right: 0;

	    text-align:center; /* Align center inline elements */
	    font: 0/0 a;
	    -webkit-animation: titles 2s;
	    animation: titles 2s;
		}

		.scroll-down:before {
		    content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}

		.scroll-down img {
				width: 50px;
		    vertical-align: middle;
		    display: inline-block;
		}

		.scroll-down:hover {
				opacity: 0.7;
				-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
	    	transition: 1s;
		}
		

		.titles {
		    position: absolute;
		    bottom: 28%;
		    margin-top: 100px;
		    height: 25px;
		    overflow: hidden;
		    left: 0;
		    right: 0;

		    text-align:center; /* Align center inline elements */
		    -webkit-animation: titles 2s;
	    	animation: titles 2s;
		}

		.titles:before {
		    content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}

		.titles ul {
			width: 250px;
	    vertical-align: middle;
	    display: inline-block;
	    color: white;
	    list-style: none;
	    padding: 0px;
	    
	    li {
	    	position: relative;
	    	font-weight: 900;
	    	font-size: 1.3em;
	    }
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#home {
		height: 100%;

		#div-xs {
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			opacity: 1;
			padding-top: 50px;
			background: image-url("frontend/home/bg-3.jpg") no-repeat;
			background-position: center center;
			background-size: cover;
			color: white;
		}

		.active{ 
			opacity: 1 !important;
		}

		.responsive-container {
			display: none;
	    position: relative;
	    width: 100%;
	    height: 100%;
	    overflow: hidden;
		}

		.centered {
		    padding-top: 100%; /* forces 1:1 aspect ratio */
		}

		.img-container {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;

		    text-align:center; /* Align center inline elements */
		}

		.img-container:before {
		    content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}

		.img-container img {
				width: 180px;
		    vertical-align: middle;
		    display: inline-block;
		}

		.scroll-down {
			position: absolute;
			display: none;
	    bottom: 20px;
	    left: 0;
	    right: 0;

	    text-align:center; /* Align center inline elements */
	    font: 0/0 a;
		}

		.scroll-down:before {
		    content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}

		.scroll-down img {
				width: 50px;
		    vertical-align: middle;
		    display: inline-block;
		}

		.scroll-down:hover {
				opacity: 0.7;
		}
		
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*keyframes*/
@-webkit-keyframes logo {
	0% {
		opacity: 0;
		top: -200px;
	}

	100% {
		opacity: 1;
		top: 0px;
	}
}

@keyframes logo {
	0% {
		opacity: 0;
		top: -200px;
	}

	100% {
		opacity: 1;
		top: 0px;
	}
}

/*keyframes*/
@-webkit-keyframes titles {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes titles {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}