#front-navbar.navbar-default {
	display: none;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
	background-color: transparent;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	padding-top: 20px;
	padding-bottom: 20px;
	
	.navbar-toggle {
		opacity: 0;
	}

	a{
		font-weight: 900;
		color:white;
		letter-spacing: 2px;
	}
	
	a:hover {
		opacity: 0.4;
		-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
	}

	.current {
		a {
			color: #ed6d58;
			letter-spacing: 2px;
			font-weight: 900;
		}
	}

	.current a:hover {
		opacity: 1;
		color: #ed6d58;
		letter-spacing: 2px;
		font-weight: 900;
	}

	.navbar-brand {
		color: white;
		font-size: 20px;
	}

	.brand:hover {
		img {
			opacity: 0.4;
			-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    	transition: 1s;
		}
	}
}

.background-show{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	background-color: #333333 !important;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
  transition: 0.5s;

  .navbar-toggle {
  	opacity: 1	!important;
  }
}

.background-hide {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	background-color: transparent !important;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
  transition: 0.5s;

  .navbar-toggle {
  	opacity: 0	!important;
  }
}

@media(min-width:768px) and (orientation : portrait) {
	#front-navbar.navbar-default {
		display: none;
		margin-bottom: 0px;
		font-weight: bold;
		font-size: 14px;
		background-color: transparent;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		padding-top: 20px;
		padding-bottom: 20px;
		
		.navbar-toggle {
			opacity: 0;
		}

		a{
			font-size: 12px;
			font-weight: 900;
			color:white;
			letter-spacing: 2px;
		}
		
		a:hover {
			opacity: 0.4;
			-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
	    transition: 1s;
		}

		.current {
			a {
				color: #ed6d58;
				letter-spacing: 2px;
				font-weight: 900;
			}
		}

		.current a:hover {
			opacity: 1;
			color: #ed6d58;
			letter-spacing: 2px;
			font-weight: 900;
		}

		.navbar-brand {
			color: white;
			font-size: 20px;
		}

		.brand:hover {
			img {
				opacity: 0.4;
				-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
	    	transition: 1s;
			}
		}
	}

	.background-show{
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		background-color: #333333 !important;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	  transition: 0.5s;

	  .navbar-toggle {
	  	opacity: 1	!important;
	  }
	}

	.background-hide {
		padding-top: 20px !important;
		padding-bottom: 20px !important;
		background-color: transparent !important;
		-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	  transition: 0.5s;

	  .navbar-toggle {
	  	opacity: 0	!important;
	  }
	}
}
