/*large desktop*/
@media(min-width:1200px) {
	#portfolio {
		padding-top: 170px;
		background-color: #ffffff;
		
		#container-portfolio {
			position: relative;
			width: 60%;
			opacity: 0;
			top: 50px;
		}

		.effect_portfolio {
			opacity: 1 !important;
			top: 0px !important;
			-webkit-animation: effect-bottom 1.2s;
			animation: effect-bottom 1.2s;
		}

		hr{
			border-color: #ed6d58;
		}

		h1{
			color:#ed6d58; 
			text-align:center;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
		}

		.title-portfolio{
			color:#777777;
			font-size: 70px;
			letter-spacing: -3px; 
			text-align:center;
			font-family: "PT Serif";
			font-weight: 700;
		}

		.section-portfolio{
			margin-top: 30px;
			img {
				width: 200px;
			}
		}

		.text-portfolio{
			margin-top: 70px;
			margin-bottom: 70px;
			color:#777777;
			font-size: 36px;
			font-family: "vollkorn";
			text-align:center;
			line-height: 1.2;
			span{
				color: #ed6d58;
			}
		}

		.all-portfolio{
			width: 100%;
			margin: 0px;

			.item-portfolio{
				padding: 0px;
			}

			

			.item{		
				overflow: hidden;
				#branding{
					background-image: url("portafolio/branding.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				#web{
					background-image: url("portafolio/web_design.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				#imprimibles{
					background-image: url("portafolio/impress_design.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				#digitales{
					background-image: url("portafolio/digital_design.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				.mask-portfolio{
					position: absolute;
					top: 0;
					background:rgba(0, 0, 0, 0);
					height: 480px;
					width: 100%;
					padding: 10px;					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;

					.title-item{
						position: absolute;
						top: 320px;
						left: 61px;
						opacity: 0;	
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;			
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-family: "PT Serif";
							font-weight: 700;
							font-size: 30px;
						}
					}
				}
			}

			.item:hover{
				overflow: hidden;
				.image{
					-ms-transform: scale(1.1,1.1); /* IE 9 */
				    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
				    transform: scale(1.1,1.1);
				    -moz-transition: all 10s ease 0s;
					-o-transition: all 10s ease 0s;
					-webkit-transition: all 1s ease 0s;
					-ms-transition: all 10s ease 0s;
				}

				.mask-portfolio{
					background:rgba(0, 0, 0, 0.68);					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;
					.title-item{
						position: absolute;
						top: 320px;
						left: 61px;
						opacity: 1;							
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;				
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-weight: 700;
							font-size: 30px;
						}
					}
				}
			}
		}
	}
}

/*media desktop*/
@media (min-width: 992px) and (max-width: 1199px) {
	#portfolio {
		padding-top: 170px;
		background-color: #ffffff;
		
		#container-portfolio {
			position: relative;
			width: 80%;
			opacity: 0;
			top: 50px;
		}

		.effect_portfolio {
			opacity: 1 !important;
			top: 0px !important;
			-webkit-animation: effect-bottom 1.2s;
			animation: effect-bottom 1.2s;
		}

		hr{
			border-color: #ed6d58;
		}

		h1{
			color:#ed6d58; 
			text-align:center;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
		}

		.title-portfolio{
			color:#777777;
			font-size: 70px;
			letter-spacing: -3px; 
			text-align:center;
			font-family: "PT Serif";
			font-weight: 700;
		}

		.section-portfolio{
			margin-top: 30px;
			img {
				width: 200px;
			}
		}

		.text-portfolio{
			margin-top: 70px;
			margin-bottom: 70px;
			color:#777777;
			font-size: 36px;
			font-family: "vollkorn";
			text-align:center;
			line-height: 1.2;
			span{
				color: #ed6d58;
			}
		}

		.all-portfolio{
			width: 100%;
			margin: 0px;

			.item-portfolio{
				padding: 0px;
			}

			

			.item{		
				overflow: hidden;
				#branding{
					background-image: url("portafolio/branding.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				#web{
					background-image: url("portafolio/web_design.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				#imprimibles{
					background-image: url("portafolio/impress_design.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				#digitales{
					background-image: url("portafolio/digital_design.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				.mask-portfolio{
					position: absolute;
					top: 0;
					background:rgba(0, 0, 0, 0);
					height: 480px;
					width: 100%;
					padding: 10px;					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;

					.title-item{
						position: absolute;
						top: 320px;
						left: 61px;
						opacity: 0;	
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;			
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-family: "PT Serif";
							font-weight: 700;
							font-size: 30px;
						}
					}
				}
			}

			.item:hover{
				overflow: hidden;
				.image{
					-ms-transform: scale(1.1,1.1); /* IE 9 */
				    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
				    transform: scale(1.1,1.1);
				    -moz-transition: all 10s ease 0s;
					-o-transition: all 10s ease 0s;
					-webkit-transition: all 1s ease 0s;
					-ms-transition: all 10s ease 0s;
				}

				.mask-portfolio{
					background:rgba(0, 0, 0, 0.68);					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;
					.title-item{
						position: absolute;
						top: 320px;
						left: 61px;
						opacity: 1;							
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;				
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-weight: 700;
							font-size: 30px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#portfolio {
		padding-top: 170px;
		background-color: #ffffff;
		
		#container-portfolio {
			position: relative;
			width: 90%;
			opacity: 0;
			top: 50px;
		}

		.effect_portfolio {
			opacity: 1 !important;
			top: 0px !important;
			-webkit-animation: effect-bottom 1.2s;
			animation: effect-bottom 1.2s;
		}

		hr{
			border-color: #ed6d58;
		}

		h1{
			color:#ed6d58; 
			text-align:center;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
		}

		.title-portfolio{
			color:#777777;
			font-size: 70px;
			letter-spacing: -3px; 
			text-align:center;
			font-family: "PT Serif";
			font-weight: 700;
		}

		.section-portfolio{
			margin-top: 30px;
			img {
				width: 200px;
			}
		}

		.text-portfolio{
			margin-top: 70px;
			margin-bottom: 70px;
			color:#777777;
			font-size: 36px;
			font-family: "vollkorn";
			text-align:center;
			line-height: 1.2;
			span{
				color: #ed6d58;
			}
		}

		.all-portfolio{
			width: 100%;
			margin: 0px;

			.item-portfolio{
				padding: 0px;
			}

			

			.item{		
				overflow: hidden;
				#branding{
					background-image: url("portafolio/branding.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				#web{
					background-image: url("portafolio/web_design.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				#imprimibles{
					background-image: url("portafolio/impress_design.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				#digitales{
					background-image: url("portafolio/digital_design.jpg");
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 100%;
					overflow: hidden;
				}

				.mask-portfolio{
					position: absolute;
					top: 0;
					background:rgba(0, 0, 0, 0);
					height: 480px;
					width: 100%;
					padding: 10px;					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;

					.title-item{
						position: absolute;
						top: 320px;
						left: 61px;
						opacity: 0;	
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;			
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-family: "PT Serif";
							font-weight: 700;
							font-size: 30px;
						}
					}
				}
			}

			.item:hover{
				overflow: hidden;
				.image{
					-ms-transform: scale(1.1,1.1); /* IE 9 */
				    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
				    transform: scale(1.1,1.1);
				    -moz-transition: all 10s ease 0s;
					-o-transition: all 10s ease 0s;
					-webkit-transition: all 1s ease 0s;
					-ms-transition: all 10s ease 0s;
				}

				.mask-portfolio{
					background:rgba(0, 0, 0, 0.68);					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;
					.title-item{
						position: absolute;
						top: 320px;
						left: 61px;
						opacity: 1;							
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;				
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-weight: 700;
							font-size: 30px;
						}
					}
				}
			}
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#portfolio {
		padding-top: 20px;
		background-color: #ffffff;
		
		#container-portfolio {
			position: relative;
			width: 90%;
			opacity: 1;
			top: 50px;
		}

		hr{
			border-color: #ed6d58;
		}

		h1{
			color:#ed6d58; 
			text-align:center;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
		}

		.title-portfolio{
			color:#777777;
			margin-top: -20px;
			font-size: 34px;
			text-align:center;
			font-family: "PT Serif";
			font-weight: 700;
		}

		.section-portfolio{
			margin-top: 30px;
			img {
				width: 150px;
			}
		}

		.text-portfolio{
			margin-top: 30px;
			margin-bottom: 90px;
			color:#777777;
			font-size: 20px;
			font-family: "vollkorn";
			text-align:center;
			line-height: 1.2;
			span{
				color: #ed6d58;
			}
		}

		.all-portfolio{
			width: 100%;
			margin: 0px;

			.item-portfolio{
				padding: 0px;
			}

			

			.item{		
				margin-top: 10px;
				overflow: hidden;
				#branding{
					background-image: url("portafolio/branding.jpg");
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;
				}

				#web{
					background-image: url("portafolio/web_design.jpg");
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;
				}

				#imprimibles{
					background-image: url("portafolio/impress_design.jpg");
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;
				}

				#digitales{
					background-image: url("portafolio/digital_design.jpg");
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;
				}

				.mask-portfolio{
					position: absolute;
					top: 0;
					opacity: 1;
					background: rgba(61, 61, 61, 0.68);
					height: 380px;
					width: 100%;
					padding: 10px;					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;

					.title-item{
						position: absolute;
						top: 220px;
						left: 61px;
						opacity: 1;	
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;			
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 70px;
							color: #ffffff;
							font-family: "PT Serif";
							font-weight: 700;
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#portfolio {
		padding-top: 20px;
		background-color: #ffffff;
		
		#container-portfolio {
			position: relative;
			width: 90%;
			opacity: 1;
			top: 50px;
		}

		hr{
			border-color: #ed6d58;
		}

		h1{
			color:#ed6d58; 
			text-align:center;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
		}

		.title-portfolio{
			color:#777777;
			margin-top: -20px;
			font-size: 34px;
			text-align:center;
			font-family: "PT Serif";
			font-weight: 700;
		}

		.section-portfolio{
			margin-top: 30px;
			img {
				width: 150px;
			}
		}

		.text-portfolio{
			margin-top: 30px;
			margin-bottom: 90px;
			color:#777777;
			font-size: 20px;
			font-family: "vollkorn";
			text-align:center;
			line-height: 1.2;
			span{
				color: #ed6d58;
			}
		}

		.all-portfolio{
			width: 100%;
			margin: 0px;

			.item-portfolio{
				padding: 0px;
			}

			

			.item{		
				overflow: hidden;
				#branding{
					background-image: url("portafolio/branding.jpg");
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;
				}

				#web{
					background-image: url("portafolio/web_design.jpg");
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;
				}

				#imprimibles{
					background-image: url("portafolio/impress_design.jpg");
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;
				}

				#digitales{
					background-image: url("portafolio/digital_design.jpg");
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;
				}

				.mask-portfolio{
					position: absolute;
					top: 0;
					opacity: 1;
					background:rgba(0, 0, 0, 0.68);	
					height: 380px;
					width: 100%;
					padding: 10px;					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;

					.title-item{
						position: absolute;
						top: 220px;
						left: 61px;
						opacity: 1;	
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;			
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;											
						}
						p{
							margin-top: 70px;
							color: #ffffff;
							font-family: "PT Serif";
							font-weight: 700;
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}





