/*large desktop*/
@media(min-width:1200px) {
	#services {
		padding-top: 170px;
		padding-bottom: 170px;
		background-color: #ed6d58;
		
		.container {
			width: 60%;
		}

		.content-services {
			h5 {
				font-family: 'Lato', sans-serif;
				color: white;
				font-weight: 900;
			}	
			
			span {
				position: relative;
				top: 10px;
				font-family: 'Vollkorn', serif;
				font-style: italic;
				color: #f08978;
				font-size: 60px;
				display: inline-block;
				font-weight: 900;
			}
			
			.description-services {
				font-family: 'Vollkorn', serif;
				font-weight: 400;
				font-size: 1.6em;
				color: white;
			}

			.efftec-services {
				opacity: 0;
			}

			.effect-left {
				position: relative;
				opacity: 1;
				-webkit-animation: effect-left 1.2s;
				animation: effect-left 1.2s;
			}

			.effect-right {
				position: relative;
				opacity: 1;
				-webkit-animation: effect-right 1.2s;
				animation: effect-right 1.2s;
			}
		}
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	#services {
		padding-top: 170px;
		padding-bottom: 170px;
		background-color: #ed6d58;
		
		.container {
			width: 80%;
		}

		.content-services {
			h5 {
				font-family: 'Lato', sans-serif;
				color: white;
				font-weight: 900;
			}	
			
			span {
				position: relative;
				top: 10px;
				font-family: 'Vollkorn', serif;
				font-style: italic;
				color: #f08978;
				font-size: 60px;
				display: inline-block;
				font-weight: 900;
			}
			
			.description-services {
				font-family: 'Vollkorn', serif;
				font-weight: 400;
				font-size: 1.6em;
				color: white;
			}

			.efftec-services {
				opacity: 0;
			}

			.effect-left {
				position: relative;
				opacity: 1;
				-webkit-animation: effect-left 1.2s;
				animation: effect-left 1.2s;
			}

			.effect-right {
				position: relative;
				opacity: 1;
				-webkit-animation: effect-right 1.2s;
				animation: effect-right 1.2s;
			}
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#services {
		padding-top: 170px;
		padding-bottom: 170px;
		background-color: #ed6d58;
		
		.container {
			width: 90%;
		}

		.content-services {
			h5 {
				font-family: 'Lato', sans-serif;
				color: white;
				font-weight: 900;
			}	
			
			span {
				position: relative;
				top: 10px;
				font-family: 'Vollkorn', serif;
				font-style: italic;
				color: #f08978;
				font-size: 60px;
				display: inline-block;
				font-weight: 900;
			}
			
			.description-services {
				font-family: 'Vollkorn', serif;
				font-weight: 400;
				font-size: 1.6em;
				color: white;
			}

			.efftec-services {
				opacity: 0;
			}

			.effect-left {
				position: relative;
				opacity: 1;
				-webkit-animation: effect-left 1.2s;
				animation: effect-left 1.2s;
			}

			.effect-right {
				position: relative;
				opacity: 1;
				-webkit-animation: effect-right 1.2s;
				animation: effect-right 1.2s;
			}
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#services {
		padding-top: 70px;
		padding-bottom: 70px;
		background-color: #ed6d58;
		
		.container {
			width: 90%;
		}

		.title-hr {
			margin-bottom: 33px;
		}

		#content-2 {
			margin-top: 5px;
		}

		.content-services {
			margin-top: -30px;
			h5 {
				font-family: 'Lato', sans-serif;
				color: white;
				font-weight: 900;
			}	
			
			span {
				position: relative;
				top: 10px;
				font-family: 'Vollkorn', serif;
				font-style: italic;
				color: #f08978;
				font-size: 60px;
				display: inline-block;
				font-weight: 900;
			}
			
			.description-services {
				font-family: 'Vollkorn', serif;
				font-weight: 400;
				font-size: 1.6em;
				color: white;
			}

			.efftec-services {
				opacity: 1;
			}

			.effect-left {
				position: relative;
				opacity: 1;
			}

			.effect-right {
				position: relative;
				opacity: 1;
			}
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#services {
		padding-top: 70px;
		padding-bottom: 70px;
		background-color: #ed6d58;
		
		.container {
			width: 90%;
		}

		.title-hr {
			margin-bottom: 33px;
		}

		#content-2 {
			margin-top: 5px;
		}

		.content-services {
			margin-top: -30px;
			h5 {
				font-family: 'Lato', sans-serif;
				color: white;
				font-weight: 900;
			}	
			
			span {
				position: relative;
				top: 10px;
				font-family: 'Vollkorn', serif;
				font-style: italic;
				color: #f08978;
				font-size: 60px;
				display: inline-block;
				font-weight: 900;
			}
			
			.description-services {
				font-family: 'Vollkorn', serif;
				font-weight: 400;
				font-size: 1.6em;
				color: white;
			}

			.efftec-services {
				opacity: 1;
			}

			.effect-left {
				position: relative;
				opacity: 1;
			}

			.effect-right {
				position: relative;
				opacity: 1;
			}
		}
	}
}

/*keyframes*/
@-webkit-keyframes effect-left {
	0% {
	  opacity: 0;
	  left: -50px;
	}

	100% {
	  opacity: 1;
	  left: 0px;
	}
}

@keyframes effect-left {
	0% {
	  opacity: 0;
	  left: -50px;
	}

	100% {
	  opacity: 1;
	  left: 0px;
	}
}

@-webkit-keyframes effect-right {
	0% {
	  opacity: 0;
	  right: -50px;
	}

	100% {
	  opacity: 1;
	  right: 0px;
	}
}

@keyframes effect-right {
	0% {
	  opacity: 0;
	  right: -50px;
	}

	100% {
	  opacity: 1;
	  right: 0px;
	}
}


