/*large desktop*/
@media(min-width:1200px) {
	.modal {
		background: #333333;
		padding-top: 2.1%;
	}
	.modal-body {
		padding: 0px;
	}
	
	.divition{
		margin-top: 30px;
		margin-bottom: 20px;
		border: 3px solid #ed6d58;
		width: 50px;
	}

	h1{
		color:#ed6d58; 
		text-align:left;
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 1.3em;
	}

	.title-show-attachment{
		color:#777777;
		font-size: 2.4em;
		text-align:left;
		font-family: "PT Serif";
		font-weight: 700;
	}

	#imagen-modal{
		height: 10px;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: none;
	}

	.modal-content{
		border-radius: none;
	}

	.section-show-attachment{
		margin-top: 70px;
	}

	.text-show-attachment{
		margin-top: 70px;
		margin-bottom: 150px;
		color:#777777;
		font-size: 20px;
		font-family: "lato";
		font-weight: 400;
		line-height: 1.2;
		span{
			color: #ed6d58;
		}
	}

	.all-show-attachment{
		width: 100%;	
		margin: 0px;

		.item-show-attachment{
			padding: 0px;
		}			

		.item{		
			overflow: hidden;
			#show-img{
				background-position: center;
				background-size: cover;
				height: 480px;
				width: 100%;
				overflow: hidden;
			}

			.mask-show-attachment{
				position: absolute;
				top: 0;
				background:rgba(0, 0, 0, 0);
				height: 480px;
				width: 100%;
				padding: 10px;					
				-moz-transition: all 0.5s ease 0s;
				-o-transition: all 0.5s ease 0s;
				-webkit-transition: all 0.5s ease 0s;
				-ms-transition: all 0.5s ease 0s;

				.title-item{
					position: absolute;
					color: #ffffff;
					font-family: 'Lato', sans-serif;
					font-weight: 900;
					font-size: 17px;
					top: 320px;
					left: 61px;
					opacity: 0;	
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;			
					hr{
						border-color: #ffffff;
						position: absolute;
						top: 0px;
						left: 0px;	
						margin-top: 53px;										
					}
					p{
						margin-top: 80px;
						color: #ffffff;
						font-family: "PT Serif";
						font-weight: 700;
						font-size: 24px;
					}
				}
			}
		}

		.item:hover{
			overflow: hidden;
			.image{
				-ms-transform: scale(1.1,1.1); /* IE 9 */
			    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
			    transform: scale(1.1,1.1);
			    -moz-transition: all 10s ease 0s;
				-o-transition: all 10s ease 0s;
				-webkit-transition: all 1s ease 0s;
				-ms-transition: all 10s ease 0s;
			}

			.mask-show-attachment{
				background:rgba(0, 0, 0, 0.68);					
				-moz-transition: all 0.5s ease 0s;
				-o-transition: all 0.5s ease 0s;
				-webkit-transition: all 0.5s ease 0s;
				-ms-transition: all 0.5s ease 0s;
				.title-item{
					position: absolute;
					top: 320px;
					left: 61px;
					opacity: 1;							
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;				
					hr{
						border-color: #ffffff;
						position: absolute;
						top: 0px;
						left: 0px;	
						margin-top: 53px;										
					}
					p{
						margin-top: 80px;
						color: #ffffff;
						font-weight: 700;
						font-size: 24px;
					}
				}
			}
		}
	}
}

/*media desktop*/
@media (min-width: 992px) and (max-width: 1199px) {
	.modal {
		background: #333333;
		padding-top: 2.1%;
	}

	
	.divition{
		margin-top: 30px;
		margin-bottom: 20px;
		border: 3px solid #ed6d58;
		width: 50px;
	}

	h1{
		color:#ed6d58; 
		text-align:left;
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 1.3em;
	}

	.title-show-attachment{
		color:#777777;
		font-size: 2.4em;
		text-align:left;
		font-family: "PT Serif";
		font-weight: 700;
	}

	#imagen-modal{
		height: 500px;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: none;
	}

	.modal-content{
		border-radius: none;
	}

	.section-show-attachment{
		margin-top: 70px;
	}

	.text-show-attachment{
		margin-top: 70px;
		margin-bottom: 150px;
		color:#777777;
		font-size: 20px;
		font-family: "lato";
		font-weight: 400;
		line-height: 1.2;
		span{
			color: #ed6d58;
		}
	}

	.all-show-attachment{
		width: 100%;	
		margin: 0px;

		.item-show-attachment{
			padding: 0px;
		}			

		.item{		
			overflow: hidden;
			#show-img{
				background-position: center;
				background-size: cover;
				height: 480px;
				width: 100%;
				overflow: hidden;
			}

			.mask-show-attachment{
				position: absolute;
				top: 0;
				background:rgba(0, 0, 0, 0);
				height: 480px;
				width: 100%;
				padding: 10px;					
				-moz-transition: all 0.5s ease 0s;
				-o-transition: all 0.5s ease 0s;
				-webkit-transition: all 0.5s ease 0s;
				-ms-transition: all 0.5s ease 0s;

				.title-item{
					position: absolute;
					color: #ffffff;
					font-family: 'Lato', sans-serif;
					font-weight: 900;
					font-size: 17px;
					top: 320px;
					left: 61px;
					opacity: 0;	
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;			
					hr{
						border-color: #ffffff;
						position: absolute;
						top: 0px;
						left: 0px;	
						margin-top: 53px;										
					}
					p{
						margin-top: 80px;
						color: #ffffff;
						font-family: "PT Serif";
						font-weight: 700;
						font-size: 24px;
					}
				}
			}
		}

		.item:hover{
			overflow: hidden;
			.image{
				-ms-transform: scale(1.1,1.1); /* IE 9 */
			    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
			    transform: scale(1.1,1.1);
			    -moz-transition: all 10s ease 0s;
				-o-transition: all 10s ease 0s;
				-webkit-transition: all 1s ease 0s;
				-ms-transition: all 10s ease 0s;
			}

			.mask-show-attachment{
				background:rgba(0, 0, 0, 0.68);					
				-moz-transition: all 0.5s ease 0s;
				-o-transition: all 0.5s ease 0s;
				-webkit-transition: all 0.5s ease 0s;
				-ms-transition: all 0.5s ease 0s;
				.title-item{
					position: absolute;
					top: 320px;
					left: 61px;
					opacity: 1;							
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;				
					hr{
						border-color: #ffffff;
						position: absolute;
						top: 0px;
						left: 0px;	
						margin-top: 53px;										
					}
					p{
						margin-top: 80px;
						color: #ffffff;
						font-weight: 700;
						font-size: 24px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.modal {
		background: #333333;
		padding-top: 2.1%;
	}

	
	.divition{
		margin-top: 30px;
		margin-bottom: 20px;
		border: 3px solid #ed6d58;
		width: 50px;
	}

	h1{
		color:#ed6d58; 
		text-align:left;
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 1.3em;
	}

	.title-show-attachment{
		color:#777777;
		font-size: 2.4em;
		text-align:left;
		font-family: "PT Serif";
		font-weight: 700;
	}

	#imagen-modal{
		height: 500px;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: none;
	}

	.modal-content{
		border-radius: none;
	}

	.section-show-attachment{
		margin-top: 70px;
	}

	.text-show-attachment{
		margin-top: 70px;
		margin-bottom: 150px;
		color:#777777;
		font-size: 20px;
		font-family: "lato";
		font-weight: 400;
		line-height: 1.2;
		span{
			color: #ed6d58;
		}
	}

	.all-show-attachment{
		width: 100%;	
		margin: 0px;

		.item-show-attachment{
			padding: 0px;
		}			

		.item{		
			overflow: hidden;
			#show-img{
				background-position: center;
				background-size: cover;
				height: 480px;
				width: 100%;
				overflow: hidden;
			}

			.mask-show-attachment{
				position: absolute;
				top: 0;
				background:rgba(0, 0, 0, 0);
				height: 480px;
				width: 100%;
				padding: 10px;					
				-moz-transition: all 0.5s ease 0s;
				-o-transition: all 0.5s ease 0s;
				-webkit-transition: all 0.5s ease 0s;
				-ms-transition: all 0.5s ease 0s;

				.title-item{
					position: absolute;
					color: #ffffff;
					font-family: 'Lato', sans-serif;
					font-weight: 900;
					font-size: 17px;
					top: 320px;
					left: 61px;
					opacity: 0;	
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;			
					hr{
						border-color: #ffffff;
						position: absolute;
						top: 0px;
						left: 0px;	
						margin-top: 53px;										
					}
					p{
						margin-top: 80px;
						color: #ffffff;
						font-family: "PT Serif";
						font-weight: 700;
						font-size: 24px;
					}
				}
			}
		}

		.item:hover{
			overflow: hidden;
			.image{
				-ms-transform: scale(1.1,1.1); /* IE 9 */
			    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
			    transform: scale(1.1,1.1);
			    -moz-transition: all 10s ease 0s;
				-o-transition: all 10s ease 0s;
				-webkit-transition: all 1s ease 0s;
				-ms-transition: all 10s ease 0s;
			}

			.mask-show-attachment{
				background:rgba(0, 0, 0, 0.68);					
				-moz-transition: all 0.5s ease 0s;
				-o-transition: all 0.5s ease 0s;
				-webkit-transition: all 0.5s ease 0s;
				-ms-transition: all 0.5s ease 0s;
				.title-item{
					position: absolute;
					top: 320px;
					left: 61px;
					opacity: 1;							
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;				
					hr{
						border-color: #ffffff;
						position: absolute;
						top: 0px;
						left: 0px;	
						margin-top: 53px;										
					}
					p{
						margin-top: 80px;
						color: #ffffff;
						font-weight: 700;
						font-size: 24px;
					}
				}
			}
		}
	}
}

/*phone*/
@media(max-width:767px) {
	.modal {
		background: #333333;
		padding-top: 2.1%;
	}

	
	.divition{
		margin-top: 30px;
		margin-bottom: 20px;
		border: 3px solid #ed6d58;
		width: 50px;
	}

	h1{
		color:#ed6d58; 
		text-align:left;
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 1.3em;
	}

	.title-show-attachment{
		color:#777777;
		font-size: 2.4em;
		text-align:left;
		font-family: "PT Serif";
		font-weight: 700;
	}

	#imagen-modal{
		height: 200px;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: none;
	}

	.modal-content{
		margin-top: 35%;
		border-radius: none;
	}

	.section-show-attachment{
		margin-top: 70px;
	}

	.text-show-attachment{
		margin-top: 70px;
		margin-bottom: 150px;
		color:#777777;
		font-size: 20px;
		font-family: "lato";
		font-weight: 400;
		line-height: 1.2;
		span{
			color: #ed6d58;
		}
	}

	.all-show-attachment{
		width: 100%;	
		margin: 0px;

		.item-show-attachment{
			padding: 0px;
		}			

		.item{		
			margin-top: 10px;
			overflow: hidden;
			#show-img{
				background-position: center;
				background-size: cover;
				height: 380px;
				width: 100%;
				overflow: hidden;
			}

			.mask-show-attachment{
				position: absolute;
				top: 0;
				background:rgba(0, 0, 0, 0);	
				height: 380px;
				width: 100%;
				padding: 10px;					
				.title-item{
					position: absolute;
					color: #ffffff;
					font-family: 'Lato', sans-serif;
					font-weight: 900;
					font-size: 17px;
					top: 220px;
					left: 61px;
					opacity: 1;		
					hr{
						border-color: #ffffff;
						position: absolute;
						top: 0px;
						left: 0px;	
						margin-top: 53px;										
					}
					p{
						margin-top: 80px;
						color: white;
						font-family: "PT Serif";
						font-weight: 700;
						font-size: 24px;
					}
				}
			}
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}


/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	.modal {
		background: #333333;
		padding-top: 2.1%;
	}

	
	.divition{
		margin-top: 30px;
		margin-bottom: 20px;
		border: 3px solid #ed6d58;
		width: 50px;
	}

	h1{
		color:#ed6d58; 
		text-align:left;
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 1.3em;
	}

	.title-show-attachment{
		color:#777777;
		font-size: 2.4em;
		text-align:left;
		font-family: "PT Serif";
		font-weight: 700;
	}

	#imagen-modal{
		height: 400px;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: none;
	}

	.modal-content{
		margin-top: 35%;
		border-radius: none;
	}

	.section-show-attachment{
		margin-top: 70px;
	}

	.text-show-attachment{
		margin-top: 70px;
		margin-bottom: 150px;
		color:#777777;
		font-size: 20px;
		font-family: "lato";
		font-weight: 400;
		line-height: 1.2;
		span{
			color: #ed6d58;
		}
	}

	.all-show-attachment{
		width: 100%;	
		margin: 0px;

		.item-show-attachment{
			padding: 0px;
		}			

		.item{		
			overflow: hidden;
			#show-img{
				background-position: center;
				background-size: cover;
				height: 380px;
				width: 100%;
				overflow: hidden;
			}

			.mask-show-attachment{
				position: absolute;
				top: 0;
				background:rgba(0, 0, 0, 0.68);	
				height: 380px;
				width: 100%;
				padding: 10px;					
				.title-item{
					position: absolute;
					color: #ffffff;
					font-family: 'Lato', sans-serif;
					font-weight: 900;
					font-size: 17px;
					top: 220px;
					left: 61px;
					opacity: 1;		
					hr{
						border-color: #ffffff;
						position: absolute;
						top: 0px;
						left: 0px;	
						margin-top: 53px;										
					}
					p{
						margin-top: 80px;
						color: #ffffff;
						font-family: "PT Serif";
						font-weight: 700;
						font-size: 24px;
					}
				}
			}
		}
	}
}



