/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:768px){
	#show-portfolio {
		padding-top: 70px;
		padding-bottom: 120px;
		background-color: #ffffff;
		
		.container {
			width: 60%;
		}

		hr{
			border-color: #ed6d58;
		}

		h1{
			color:#ed6d58; 
			text-align:center;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
		}

		.title-show-portfolio{
			color:#777777;
			font-size: 70px;
			letter-spacing: -3px; 
			text-align:center;
			font-family: "PT Serif";
			font-weight: 700;
		}

		.section-show-portfolio{
			margin-top: 70px;
		}

		.text-show-portfolio{
			margin-top: 70px;
			margin-bottom: 70px;
			color:#777777;
			font-size: 36px;
			font-family: "vollkorn";
			text-align:center;
			line-height: 1.2;
			span{
				color: #ed6d58;
			}
		}

		.all-show-portfolio{
			width: 101%;	

			.item-show-portfolio{
				padding: 0px;
			}			

			.item{		
				overflow: hidden;
				#show-img{
					background-position: center;
					background-size: cover;
					height: 480px;
					width: 101%;
					overflow: hidden;
				}

				.mask-show-portfolio{
					position: absolute;
					top: 0;
					background:rgba(0, 0, 0, 0);
					height: 480px;
					width: 100%;
					padding: 10px;					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;

					.title-item{
						position: absolute;
						color: #ffffff;
						font-family: 'Lato', sans-serif;
						font-weight: 900;
						font-size: 17px;
						top: 320px;
						left: 61px;
						opacity: 0;	
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;			
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;	
							margin-top: 53px;										
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-family: "PT Serif";
							font-weight: 700;
							font-size: 24px;
						}
					}
				}
			}

			.item:hover{
				overflow: hidden;
				.image{
					-ms-transform: scale(1.1,1.1); /* IE 9 */
				    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
				    transform: scale(1.1,1.1);
				    -moz-transition: all 10s ease 0s;
					-o-transition: all 10s ease 0s;
					-webkit-transition: all 1s ease 0s;
					-ms-transition: all 10s ease 0s;
				}

				.mask-show-portfolio{
					background:rgba(0, 0, 0, 0.68);					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;
					.title-item{
						position: absolute;
						top: 320px;
						left: 61px;
						opacity: 1;							
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;				
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;	
							margin-top: 53px;										
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-weight: 700;
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#show-portfolio {
		padding-bottom: 0px;
		background-color: #ffffff;
		
		.container {
			width: 90%;
		}

		hr{
			border-color: #ed6d58;
			margin-bottom: 24px;
		}

		h1{
			color:#ed6d58; 
			text-align:center;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
			font-size: 20px;
		}

		.title-show-portfolio{
			color:#777777;
			font-size: 34px;
			letter-spacing: -3px; 
			text-align:center;
			font-family: "PT Serif";
			font-weight: 700;
		}

		.section-show-portfolio{
			margin-top: 40px;

			img {
				width: 150px !important;
			}
		}

		.text-show-portfolio{
			margin-top: 40px;
			margin-bottom: 70px;
			color:#777777;
			font-size: 20px;
			font-family: "vollkorn";
			text-align:center;
			line-height: 1.2;
			span{
				color: #ed6d58;
			}
		}

		.all-show-portfolio{
			width: 100%;
			margin: 0px;	

			.item-show-portfolio{
				padding: 0px;
			}			

			.item{		
				margin-top: 10px;
				overflow: hidden;
				#show-img{
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;
				}

				.mask-show-portfolio{
					position: absolute;
					top: 0;
					background: rgba(61, 61, 61, 0.68);
					height: 380px;
					width: 100%;
					padding: 10px;					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;

					.title-item{
						position: absolute;
						color: #ffffff;
						font-family: 'Lato', sans-serif;
						font-weight: 900;
						font-size: 17px;
						top: 240px;
						left: 61px;
						opacity: 1;	
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;			
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;	
							margin-top: 53px;										
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-family: "PT Serif";
							font-weight: 700;
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) and (orientation : portrait) {
	#show-portfolio {
		padding-bottom: 0px;
		background-color: #ffffff;
		
		.container {
			width: 90%;
		}

		hr{
			border-color: #ed6d58;
			margin-bottom: 24px;
		}

		h1{
			color:#ed6d58; 
			text-align:center;
			font-family: 'Lato', sans-serif;
			font-weight: 900;
			font-size: 20px;
		}

		.title-show-portfolio{
			color:#777777;
			font-size: 34px;
			letter-spacing: -3px; 
			text-align:center;
			font-family: "PT Serif";
			font-weight: 700;
		}

		.section-show-portfolio{
			margin-top: 40px;

			img {
				width: 150px !important;
			}
		}

		.text-show-portfolio{
			margin-top: 40px;
			margin-bottom: 70px;
			color:#777777;
			font-size: 20px;
			font-family: "vollkorn";
			text-align:center;
			line-height: 1.2;
			span{
				color: #ed6d58;
			}
		}

		.all-show-portfolio{
			width: 100%;
			margin: 0px;	

			.item-show-portfolio{
				padding: 0px;
			}			

			.item{		
				overflow: hidden;
				#show-img{
					background-position: center;
					background-size: cover;
					height: 380px;
					width: 100%;
					overflow: hidden;
				}

				.mask-show-portfolio{
					position: absolute;
					top: 0;
					background:rgba(0, 0, 0, 0.68);	
					height: 380px;
					width: 100%;
					padding: 10px;					
					-moz-transition: all 0.5s ease 0s;
					-o-transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
					-ms-transition: all 0.5s ease 0s;

					.title-item{
						position: absolute;
						color: #ffffff;
						font-family: 'Lato', sans-serif;
						font-weight: 900;
						font-size: 17px;
						top: 240px;
						left: 61px;
						opacity: 1;	
						-moz-transition: all 0.5s ease 0s;
						-o-transition: all 0.5s ease 0s;
						-webkit-transition: all 0.5s ease 0s;
						-ms-transition: all 0.5s ease 0s;			
						hr{
							border-color: #ffffff;
							position: absolute;
							top: 0px;
							left: 0px;	
							margin-top: 53px;										
						}
						p{
							margin-top: 60px;
							color: #ffffff;
							font-family: "PT Serif";
							font-weight: 700;
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#services {
		
	}
}



