.socials {
	display: none;
	opacity: 0;
	background-color: #333333;
	z-index: 10000;
	position: fixed;
	height: 100%;
	width: 100%;

	.centered {
	  padding-top: 100%; /* forces 1:1 aspect ratio */
	}

	.icons-socials {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;

	    text-align:center; /* Align center inline elements */
	}

	.icons-socials:before {
	    content: ' ';
	    display: inline-block;
	    vertical-align: middle;
	    height: 45%;
	}

	.icons-socials ul {
		width: 600px;
		color: white;
		list-style: none;
    vertical-align: middle;
    display: inline-block;
    padding: 0px;
		
		li {
			display: inline;
			margin-right: 20px;

			a {
				color: white;
				font-size: 3em;
				text-decoration: none;
			}

			a:hover {
				color: #ed6d58;
				-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    		transition: 0.5s;
			}
		}
	}
	
	.icons-socials p {
		color: #ed6d58;
		margin-bottom: 30px;
		font-size: 0.9em;
		font-weight: 900;
		margin-left: -18px;
	}

}

.button-close {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 75px;
	height: 75px;
	z-index: 1000000;
	background-color: white;
	cursor: pointer;

	i {
		color: #333333;
		position: absolute;
		font-size: 2em;
		right: 27px;
		top: 22px;
	}
	-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
}
