%nav.navbar#nav-blog.hidden-xs{ style: "margin-top:70px;"}
  %ul.nav.navbar-nav.pull-right#navbar-blog
    - @categories.each do |category|
      %li.dropdown{ class: "#{ 'active' if params[:category_permalink] == category.permalink}"}
        = link_to({ controller: "posts", action: "category_front", category_permalink: category.permalink }, class: "dropdown-toggle disabled", "aria-expanded" => "false", "data-toggle" => "dropdown", :role => "button") do
          = category.name.mb_chars.upcase.to_s   
          %span.caret
        - unless category.subcategories.empty?
          %ul.dropdown-menu{:role => "menu"}
            - category.subcategories.each do |subcategory|
              %li
                = link_to subcategory.name.upcase, index_subcategory_posts_path(category.permalink, subcategory.permalink)