.col-lg-9.col-md-9.col-sm-12.col-xs-12
	.post{ "ng-repeat" => "post in posts" }
		.preview-post.row
			.col-lg-9.col-md-9.col-sm-9.col-xs-12
				= link_to "/blog/posts/{{post.permalink}}" do
					.image-post{ "ng-if" => "post.image" }
						%img{ "ng-src" => "{{post.image}}", alt: "{{post.title}}", title: "{{post.title}}" }
				%span.credits.visible-xs {{post.autor}}, {{post.day}} {{post.created_at}}
				%h4.title-post
					= link_to "{{ post.title | uppercase }}", "/blog/posts/{{post.permalink}}"
				.content-post{ "ng-bind-html" => "content_html(post.content_truncate)", style: "text-align:justify;"}
				.read-more
					%center
						= link_to "/blog/posts/{{post.permalink}}", class: "btn btn-default btn-muffin" do
							LEER MÁS
							%i.fa.fa-chevron-right
			.col-lg-3.col-md-3.col-sm-3.col-xs-12.hidden-xs
				%span.date
					{{post.day}}
					%small
						{{post.created_at}}
				= image_tag "frontend/portafolio/section-portfolio.png", style: "margin-top: 25px;"
				%span.info
					%span.block
						%i.fa.fa-user
						POR
						= link_to "{{post.autor | uppercase}}", "/blog/autor/{{post.autor_permalink}}/posts"
					%span.block
						%i.fa.fa-folder-open-o
						POSTEADO EN
						= link_to "{{post.category_name | uppercase}}", "/blog/category/{{post.category_permalink}}/posts"
					%span.block
						%i.fa.fa-link
						= link_to "PERMALINK", "/blog/posts/{{post.permalink}}"

