.col-lg-3.col-md-3.col-sm-12.col-xs-12
	= render "inyx_blog_rails/posts/widgets/search"
	%div.hidden-xs.hidden-sm
		= render "inyx_blog_rails/posts/widgets/recents"
	%div.hidden-xs.hidden-sm
		= render "inyx_blog_rails/posts/widgets/categories"
	%div.hidden-xs.hidden-sm
		= render "inyx_blog_rails/posts/widgets/tags"
	%div.hidden-xs.hidden-sm
		= render "inyx_blog_rails/posts/widgets/timeline_twitter"