= simple_form_for(@post) do |f|
	.container_form	
		.title_form
			Datos de del post
		.form-p
			- unless current_user.has_role? :moderator
				.input#title{ class: "#{@post.title.blank? ? 'input-false' : 'input-great' }" }
					= f.input :title, label: t('post.title'), input_html: { class: "input_form", id: "input-title", "ng-focus" => "inputFocus('title')", "ng-blur" => "inputBlur('title')" }
				%br/
				= f.input :content, label: false, input_html: { class: "tinymce", style: "height: 200px;" }
				
				%div{ "ng-controller" => "formCategoryCtrl", 'ng-init'=> "#{params[:action] == 'new' ? 'init()' : "init(#{@post.category_id}, #{@post.id}, #{@post.to_json}, #{@subcategories.to_json})"}" }
					.input#category{ class: "#{@post.title.blank? ? 'input-false' : 'input-great' }" }
						= f.association :category, label: t('post.category'), collection: @categories, input_html: { class: "input_form", "ng-click" => "selectAction()", "ng-model" => "post.category_id", id: "input-category", "ng-focus" => "inputFocus('category')", "ng-blur" => "inputBlur('category')" }
							
					.input#post_subcategory_id{ "ng-if" => "obj.subcategories", class: "#{@post.title.blank? ? 'input-false' : 'input-great' }" }
						.control-group.select
							%label.select.control-label{ for: "input-post_subcategory_id"}= t('post.subcategory')
						%select{:name => "post[subcategory_id]", class: "input_form", id: "input-post_subcategory_id", "ng-model"=>"obj.subcategories[selected]", "ng-if" => "obj.subcategories", "ng-options" => "subcategory.name for subcategory in obj.subcategories track by subcategory.id", "ng-focus" => "inputFocus('post_subcategory_id')", "ng-blur" => "inputBlur('post_subcategory_id')" }
							%option{ value: "" }
						
				%br/
				= f.input :image, label: false, as: :file, input_html: { class: "form-control file", placeholder: 'image', "data-buttonBefore" => false, "data-input" => false, "data-buttonText" => params[:action] == "new" ? "Subir imágen" : "Cambiar imágen", id: "input-20" }
				%br/
				= f.input :tag_list, label: false, input_html: { class: "form-control tagsinput", placeholder: 'Tags', "data-role"=>"tagsinput", value: "#{f.object.tag_list}" }
			%br/
			.row#attributes-config-blog{ style: 'margin-bottom: 10px;'}
				.col-lg-3.col-md-3.col-sm-3.col-xs-6{ style: "margin-bottom: 20px;"}
					%center
						= f.input :public, label: t('post.public'), input_html: { style: "margin:0px;", class: 'checkstyle' }
				.col-lg-3.col-md-3.col-sm-3.col-xs-6{ style: "margin-bottom: 20px;"}
					%center
						= f.input :comments_open, label: t('post.comments_open'), input_html: { style: "margin:0px;", class: 'checkstyle' }
				.col-lg-3.col-md-3.col-sm-3.col-xs-6
					%center
						= f.input :likes_enabled, label: t('post.likes_enabled'), input_html: { style: "margin:0px;", class: 'checkstyle'}
				.col-lg-3.col-md-3.col-sm-3.col-xs-6
					%center
						= f.input :shared_enabled, label: t('post.shared_enabled'), input_html: { style: "margin:0px;", class: 'checkstyle'}
		.panel-footer{ style: "margin-bottom: 10px;"}
			= f.submit "Guardar", class: "btn btn-warning pull-right"
			.clearfix

= tinymce :alternate

:javascript
	$("input[data-role=tagsinput], select[multiple][data-role=tagsinput]").tagsinput();

	$(".checkstyle").bootstrapSwitch({
		offColor: 'danger',
		onColor: 'warning',
		onText: 'Si',
		offText: 'No',
		animate: true,
		size: 'mini'
	});

- if @post.image.blank?
	:javascript
		$("#input-20").fileinput({
			browseClass: "btn btn-primary btn-block",
			showCaption: false,
			showRemove: false,
			showUpload: false,
			browseIcon: '<i class="fa fa-folder-open"></i>',
			browseLabel: ' Subir imágen',
		});
- else 
	:javascript
		$("#input-20").fileinput({
			browseClass: "btn btn-primary btn-block",
			showCaption: true,
			captionIcon: '<i class="fa fa-folder-open"></i>',
			showRemove: false,
			showUpload: false,
			browseIcon: '<i class="fa fa-folder-open"></i>',
			browseLabel: ' Subir imágen',
			initialPreview: ['"#{image_tag @post.image, class: 'file-preview-image' if !@post.image.blank?}"'],
			initialCaption: " #{@post.image.file.filename.humanize}"
		});
		



