= content_for(:title, "Blog - #{@post.title}")
= content_for(:description, strip_tags(@post.content).truncate(180))
= render "layouts/inyx_blog_rails/blog/navbar_categories"
.container{ style: "width:98%;"}
	.row.blog{'ng-controller'=>'frontIndexCtrl', 'ng-init'=>"init(#{@post.to_json})"}
		= render "layouts/inyx_blog_rails/blog/sidebar_left"
		= render "layouts/inyx_blog_rails/blog/post"


#footer
	= render "frontend/footer"