= content_for(:title, "Blog - #{params[:subcategory_permalink].humanize.gsub("-", " ")}")
.blog
	= render "layouts/inyx_blog_rails/blog/navbar_categories"
	.container{ style: "width:98%;"}
		.row{'ng-controller'=>'frontIndexCtrl', 'ng-init'=>"init(#{@posts.to_json})", "when-scrolled" => "loadMore()" }
			= render "layouts/inyx_blog_rails/blog/navbar_categories"
			= render "layouts/inyx_blog_rails/blog/sidebar_left"
			= render "layouts/inyx_blog_rails/blog/posts_list"